@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
	-ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}


body {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: Roboto, san-serif;
    overflow-x: hidden;
}

header {
    z-index: 1;
}

h1, h2 {
    text-transform: uppercase;
}

.menu_area {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 70px !important;
    z-index: 20;

}

.nav_wide_screen {
    display: flex;
}


.navbar-brand {
  
}

.navbar-brand img{
    width: 50px;
}

.brand_title {
    margin-left: 15px;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
   color: #fff; 
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #8b8b8b;
}

.close_button {
    display: none;
}

.nav-link {
    font-size: 14px;
    font-weight: 600;
    text-transform: none;
    letter-spacing: 1.5px;
    color: #fff;
    text-transform: uppercase;
}



.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #ccc;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #ccc;
}
 

.navbar-toggler {
    border: none;
    height: 40px;
    width: 40px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent !important;
   

}


.icon-bar {
    width: 30px; 
    height: 3px;
    margin: 3px;
    background-color: #fff;
    display: block;
    transition: all 0.5s;
    
}

.top-bar{
    transform: translateY(9px) rotate(45deg);
    transform-origin: center top;
 
}

.middle-bar {
    transform: scale(0);
}
 
.bottom-bar {
    transform: translateY(-9.5px) rotate(-45deg);
    transform-origin: center bottom;
 
}
 


.dropdown-toggle::after {
    display: none;
}


.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    
    pointer-events: none;
}

.dropdown-menu {
    top: 80%;
}

.dropdown-menu .dropdown-menu {
    top: auto;
    left: 100%;
    transform: translateY(-2rem);
}

.dropdown-menu .dropdown-item:nth-child(2)::after, .dropdown-menu .dropdown-item:nth-child(6)::after, .dropdown-menu .dropdown-item:nth-child(4)::after {
    content: '+';
    float: right;
}

.dropdown-menu .dropdown-menu .dropdown-item:nth-child(2)::after, .dropdown-menu .dropdown-menu .dropdown-item:nth-child(4)::after, .dropdown-menu .dropdown-menu .dropdown-item:nth-child(6)::after {
    content: '';
}


.dropdown-item + .dropdown-menu {
    display: none;
}


.dropdown-item:hover + .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}


/*For mobile screen*/

.nav_mobile_screen {
    display: none;
}

/*Main carousel*/

.carousel_item {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
    flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
    justify-content: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#portfolio_carousel .carousel_item {
    height: 300px;
}


.carousel_item_text {
    display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
    flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    justify-content: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
    align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
    padding: 20px;
    z-index: 10;
    color: #fff;
    text-transform: uppercase;
}

.carousel_item_text h2 {
    font-size: 60px;
    margin-bottom: 60px;
}

.carousel_item_text p {

    font-size: 18pt;
    text-align: center;

}

.carousel_item_text span {
    font-size: 14pt;
    text-align: center;

}

.popup_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 14px;
    color: #fff;
    height: 45px;
    width: 170px;
    box-shadow:  0 0 30px rgba(0,0,0,0.5);
}

.btn-primary {
    background: linear-gradient(to right, #ffa225, #ff434b) !important;
    border: none;
    border-radius: 3px;
}

.carousel_item .popup_btn:hover {
    opacity: 0.8;
    transition-duration: .3s;
}

.service .popup_btn, .modal-body .popup_btn{
    background: linear-gradient(to right, #ffa225, #ff434b);
    border: none;
    border-radius: .25rem;
}

.service .popup_btn a {
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.service .popup_btn:hover, .modal-body .popup_btn:hover{
    border: 2px black solid;
    border-image: linear-gradient(to right, #ffa225, #ff434b);
    border-image-slice: 1;
    background: none;
    box-shadow: none;
    transition: box-shadow .7s;
    color: #000;
    text-decoration: none;
}


.price .popup_btn {
    border: 2px black solid;
    border-image: linear-gradient(to right, #ffa225, #ff434b);
    border-image-slice: 1;
    background: none;
    color: #fff;    
}

.price .popup_btn:hover {
    background: linear-gradient(to right, #ffa225, #ff434b);
    border: none;
    box-shadow: none;
    transition: box-shadow .7s;
}


.content {
    position: relative;
    margin: 0;
    width: 100%;
}

.btn-primary:focus, .btn-primary:active, .btn:focus, .btn-primary:active:focus{
    box-shadow: none;
}

.service {
    display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
    justify-content: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
    align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
    flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
}

.service h1 {
    margin: 50px 0;
    text-align: center;
}

.service_list {
    display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
    margin-bottom: 50px;

}

.description-reverse span {
    font-weight: 600;
}



.about {
    margin: 50px 0 0;
    display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
    justify-content: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
    
    
    background: url("../img/paralax.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;

}

.about_list {
    min-height: 200px;
    margin-top: 50px;
    display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
    align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 33px;
}

.about_item {
    min-height: 200px;
    position: relative;
    display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
    justify-content: space-around;
        -webkit-box-pack: space-around;
        -webkit-justify-content:  space-around;
        -ms-flex-pack:  space-around;
    align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
    flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        transition: all .7s;
        overflow: hidden;
}



.step_item {
    width: 100px;
    height: 100px;
    
    display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
    justify-content: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
    align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
    border: 2px solid #ff434b;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 600;
    transition: all .7s;

}


.about_item:nth-of-type(1):after,
.about_item:nth-of-type(2):after,
.about_item:nth-of-type(2):before,
.about_item:nth-of-type(3):before{
  content: "";
  position: absolute;
  top: 65px;
  width: 20%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.about_item:nth-of-type(1):after, 
.about_item:nth-of-type(2):before{
  right: 0;
}

.about_item:nth-of-type(2):after, 
.about_item:nth-of-type(3):before{
  left: 0;
}


.step_title, .step_info {
    text-align: center;
    margin: 0;
    
}


.step_info {
    max-height: 0px;
    opacity: 0;
    position: relative;
    bottom: -20px; 
    transition: all .8s;
    font-size: 14px;

}


.better_title {
    margin-bottom: 15px;
    font-weight: 500;
}

.price {
    height: 300px;
    display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
    justify-content: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
    align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
    
    
    background: url("../img/paralax-two-row.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;

}


.price_title, .portfolio {
    display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
    justify-content: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
    align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
    flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
}



.comment_photo {
    max-width: 120px;
    height: 120px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.comment_author {
    color: #d13239;
    font-weight: 500;
}

.portfolio span {
    margin: 0 0 50px;
    font-size: 14px;
    text-align: center;
    color: #8b8b8b;
}


footer {
    margin-top: 50px;
    padding: 50px 0;
    background-color: #222;
    color: #fff;
    font-size: 14px;
}

footer h3 {
   color: #8b8b8b;
   font-size: 16px;

}

.footer_item {
    display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
    justify-content: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
    flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
}

.footer_item  span {
    color: #8b8b8b;
}

.footer_nav {
    list-style-type: none;
}

.footer_nav a {
    color: #fff;
}

.footer_nav a:hover {
    text-decoration: none;
    color: #8b8b8b;
}

footer p {
    margin: 0;
}



.about h2, .better h2, .price_title h2, .comment h2, .portfolio h2{
    margin: 0 0 50px;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}

.portfolio h2 {
    margin-bottom: 0;
}

.about, .better, .price, .comment, .portfolios {
    padding: 50px 0;
}



/*Animation*/

.hidden1{
opacity:0;
 transition: all .6s;
 animation-duration: .6s;
  animation-delay: .2s;
  animation-timing-function: ease-in-out;
}
.visible1{
opacity:1;
 transition: all .6s;
 animation-duration: .6s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}


/*Modal*/
.modal {
    display: none;
}

.modal-content {
    border-top: 2px solid #fd9233;
}


.modal-header {
    padding: 35px;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,.1);
}



@keyframes transform-rotate {
    from {transform: rotate(0);}
    to {transform: rotate(180deg);}
}

@keyframes transform-rotate-reverse {
    from {transform: rotate(180deg);}
    to {transform: rotate(0);}
}

 .fa-times {
    color: rgba(0,0,0,.3);
    font-size: 32px;
}



.modal-header .fa-list {
    height: 55px;
    width: 55px;
    line-height: 55px;
    text-align: center;
    color: white;
    float: left;
    font-size: 30px;
    background: #fd9233;
}

.nav-tabs .nav-item a{
    padding: 7px 35px;
}

.modal-body {
    padding: 20px 35px;
}

.modal-body .input {
    position: relative;
}
 .modal-body .input i {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 17px;
    color: rgba(0,0,0,.2);
 }

.modal-title {
    margin-left: 20px;
    font-size: 15px;
}

.modal-title h5 {
    font-size: 24px;
    margin: 0;
}

.required-star {
    color: #e02222;
}



@media (max-width: 539px) {

    .carousel_item_text {
       padding: 10px;
    }

    .carousel_item_text h2 {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .carousel_item_text p {

        font-size: 16pt;
        text-align: center;

    }

    .carousel_item_text span {
        font-size: 12pt;
        text-align: center;

    }

    

    .about_list {
        min-height: 200px;
    }

    .about_item {
        min-height: 200px;
        justify-content: flex-start;
        -webkit-box-pack: flex-start;
        -webkit-justify-content:flex-start;
       
    }

    .step_title {
        margin-top: 10px;
    }

    .step_info {
        margin-top: 10px;
    }

}

@media (max-width: 768px) {
    .about_item:nth-of-type(1):after,
    .about_item:nth-of-type(2):after,
    .about_item:nth-of-type(2):before,
    .about_item:nth-of-type(3):before {
        display: none;
    }
}

@media (max-width: 992px) {


    .navbar-collapse {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
        overflow-x: hidden; 
        background: rgba(22, 22, 22, 0.9);
        -ms-overflow-style: none;  /* IE 10+ */
    	scrollbar-width: none; /* Firefox */
        
    }

    .nav_mobile_screen {
        display: flex;
        margin-top: 20px;
    }

    .nav_wide_screen {
        display: none;
    }

    .nav_mobile_screen i {
        padding: 10px;
        color: #fff;
        cursor: pointer;
    }

    .nav_mobile_screen .nav-item {
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }


    .nav-second-level .nav-item{
        border: none;

    }

    .nav_mobile_screen .nav-link {
        padding: 15px;

    }

    .nav-second-level .nav-link{
        padding: 10px;
        padding-left: 20px;
        font-weight: 400;
        letter-spacing: 0.1px;
        text-transform: none;
    }

    .nav-third-level .nav-link {
        padding-left: 30px;
    }



    .navbar-collapse.collapsing {
        height: 100vh;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        -moz-transition: left 0.3s ease;
        transition: left 0.2s ease;
        left: -300px;
    }
    .navbar-collapse.show {
        left: 0;
        -webkit-transition: left 0.3s ease-in;
        -o-transition: left 0.3s ease-in;
        -moz-transition: left 0.3s ease-in;
        transition: left 0.2s ease-in;
    }

    .navbar-collapse.hidden {
        left: -300px;
        -webkit-transition: left 0.3s ease-in;
        -o-transition: left 0.3s ease-in;
        -moz-transition: left 0.3s ease-in;
        transition: left 0.2s ease-in;
    }

}



@media (min-width: 601px) and (max-width: 1199px) {

    .about_list {
        min-height: 225px;
    }

    .about_item {
        min-height: 225px;
    }
}









