@fontFamily_heading: "Roboto", sans-serif;
@fontFamily_text: "Open Sans", sans-serif;



.font_text {
    font-family: @fontFamily_text;
    font-size: 18px;
    font-weight: 400;
}

.font_heading {
    font-family: @fontFamily_heading;
    font-weight: 900;
}

h1, h2, h3, h4, h5, h6 {
    .font_heading;
}

p {
    .font_text;
}

header {
   padding: 69px 162px;
   height: 204px;
 
   ul {
    margin: 0;
    padding: 0 !important;
    list-style: none;
    font-family: @fontFamily_heading;
    font-weight: 700;
    font-size: 20px;
    color: #274C5B;
   }

   .search {
    padding: 5px;
    margin-right: 18px;
    background-color: #fafafa;
    border-radius: 36px;
    
        input {
            height: 80%;
            background-color: #fafafa;
            border: none;
            border-radius: 36px;
        }
        .search_btn {
            width: 56px;
            height: 56px;
            float:right;
            background-color: #7EB693;
            border: none;
            border-radius: 56px;
            

            
                       
        }
   }

   .cart {
        padding: 5px;
        width: 159px;
        border: 1px solid #f0f0f0;
        border-radius: 33px;
        .cart_btn {
            margin-right: 12px;
            width: 56px;
            height: 56px;
            float:left;
            background-color: #274C5B;
            border: none;
            border-radius: 56px;
            
        }

        span {
            font-family: @fontFamily_heading;
            font-weight: 500;
            font-size: 18px;
            color: #274C5B;
        }
   }
}
