.about {
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-between;

    &__left {
        width: 47%;
        position: relative;

        &-box {
            position: sticky;
            top: 0;
        }

    }

    &__title {
        @extend %fontSizeTitle;
        margin-bottom: 48px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 15px;

        &-item {
            @extend %flexCenter;
            gap: 10px;
            max-width: 427px;
        }

        &-info {
            @extend %flexCenter;
            padding: 28px 25px;
            border-radius: 13px;
            background-color: $bgColorSuperLight;
        }

        &-title {
            min-width: 100px;
            font-size: 32px;
            margin-right: 10px;
            font-weight: 600;
            background: linear-gradient(90deg, #15151A 17.55%, rgba(21, 21, 26, 0.60) 42.57%, rgba(21, 21, 26, 0.76) 60.08%, rgba(21, 21, 26, 0.80) 95.52%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &-text {
            @extend %fontSizeText;
            color: $bgColorDarkNeutral;
            letter-spacing: -0.5px;
        }

        &-img {
            min-width: 100px;
            height: 100px;
            border-radius: 13px;
        }

        &-item:first-child {
            align-self: flex-start;

            & .about__box-title {
                min-width: auto;
            }

            & .about__box-img {
                background-image: url("../img/about1.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

        }

        &-item:nth-child(2) {
            align-self: center;

            & .about__box-info {
                background-image: url("../img/aboutBG.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

            & .about__box-title {
                background: none;
                -webkit-text-fill-color: #fff;
            }

            & .about__box-text {
                color: #fff;
            }
        }

        &-item:last-child {
            align-self: flex-end;

            & .about__box-img {
                background-image: url("../img/about2.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
    }

    &__right {
        
        width: 47%;
        padding-top: 12px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 25px;

        &-item {
            padding-bottom: 25px;
            border-bottom: 1px solid #EFEFEF;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }

            .list-item__heading {
                @extend %flexCenter;
                margin-bottom: 15px;
            }

            .list-item__icon {
                width: 50px;
                aspect-ratio: 1 / 1 ;
                margin-right: 15px;
                border-radius: 12px;
            }


            .about__list-title {

                @extend %fontSizeSubTitle;
            }

            .list-item__text {
                @extend %fontSizeText;
                color: $colorSubTitle;
            }

        }
    }
}