@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@400;600&display=swap');




%fontStyle {
    font-style: normal;
    line-height: normal;
}

%fontSizeTitle {
    @include fontSizeWeight(36px, 600);
    @extend %fontStyle;
    color: $colorTitle;
}

%fontSizeSubTitle {
    @include fontSizeWeight(20px, 400);
    @extend %fontStyle;
    color: $colorTitle;
}

%fontSizeText {
    @include fontSizeWeight(14px, 400);
    @extend %fontStyle;
}

%fontSizeBtn {
    @include fontSizeWeight(16px, 400);
    @extend %fontStyle;
}

%flexCenter {
    display: flex;
    align-items: center;
}

%flexCenterCenter {
    @extend %flexCenter;
    justify-content: center;
}

%BtnMainStyle {
    //@include btnStyle($colorSubTitle);
    @extend %fontSizeBtn;
    min-height: 60px;
    padding: 19px 10px;
    position: relative;
}

// %BtnMainHover {
//     @include btnStyle($colorIconActive, $colorIconActive, $colorIconActive);
//     cursor: pointer;
//     @extend %fontSizeBtn;
//     padding: 19px 10px;
// }




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.center {
    max-width: $contentWidth;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn_main {
    @extend %BtnMainStyle;
    @include btnStyle($colorSubTitle, transparent);
    z-index: 10;

    .btn_bg {
        position: absolute;
        z-index: -1;
        left: 0;
        width: 200%;
        height: 200%;
        top: 0;
        border-radius: 30px;
        opacity: 0;
        background-image: url(../img/bgBtn.jpg);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: 150%;
        box-shadow: 0px 4px 20px 0px rgba(54, 95, 239, 0.30);
        transition: all .3s ease-in-out;
    }

    &:hover {
        @include btnStyle(transparent, transparent, $colorIconActive);
        border: none;
        cursor: pointer;
        box-shadow: 0px 4px 20px 0px rgba(54, 95, 239, 0.30);

        & .btn_bg {
            opacity: 1;
        }

        &:active {
            & .btn_bg {
                background-position: left top
            }
        }
    }


}

.btn_light {
    @include btnStyle(rgba(255, 255, 255, 0.30), transparent, $colorIconActive);
    z-index: 10;

    &:hover {
        @include btnStyle(transparent, $colorTitle, $colorTitle);
        cursor: pointer;
    }
}

summary {
    list-style-type: none;

    &::-webkit-details-marker {
        display: none;
    }
}

.swiper {
    display: flex;
    width: 100%;
    padding-bottom: 64px;
    position: relative;

    .service-slider__wrap {
        height: auto;
    }

    .services__item {
        position: relative;
        overflow: hidden;

        & .bg {

            position: absolute;
            width: 300%;
            height: 100%;
            z-index: -1;
            top: 0;
            left: -125%;
            background-image: url(../img/Rectangle\ 1292.jpg);
            // background: rgb(54, 95, 239);
            // background: linear-gradient(152deg, rgba(54, 95, 239, 1) 23%, rgba(110, 157, 247, 1) 33%, rgba(54, 95, 239, 1) 56%, rgba(252, 252, 252, 1) 100%);
            background-size: cover;
            opacity: 0;
            transition: all 3s cubic-bezier(0.2, 0.6, 0, 1) !important;
        }

        & .services__item-title,
        & .services__item-text,
        & .services__item-link,
        & .services__item-price,
        & .services__item-icon path {
            transition: cubic-bezier(0.2, 0.6, 0, 1) .5s !important;
        }

        &.swiper-slide-active {

            & .bg {
                opacity: 1;
            }

            & .services__item-title,
            & .services__item-text,
            & .services__item-link,
            & .services__item-price,
            & .services__item-icon path {
                color: $colorIconActive;
                fill: $colorIconActive;
            }

            & .services__item-price {
                background-color: transparent;
                border-radius: 30px;
                outline: 1px solid $colorIconActive;
            }


        }
    }

    &-pagination {


        &-bullet {
            width: 36px;
            height: 1px;
            background-color: #D3D3D3;
            opacity: 1;
            border-radius: 0;
            // transition: width .3s ease-in-out;
            transition: cubic-bezier(0.2, 0.6, 0.6, 1) .5s !important;

            &-active {
                width: 70px;
                background-color: $colorRegular;
            }
        }

    }

    &-horizontal>&-pagination-bullets,
    &-pagination-bullets.swiper-pagination-horizontal,
    &-pagination-custom,
    &-pagination-fraction {
        bottom: 16px;
        @extend %flexCenter;
        justify-content: flex-end;
    }

    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after,
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        display: none;
    }


    .swiper-button-next,
    .swiper-button-prev {
        top: calc(100% - 6px);
        padding: 12px 15px;
        height: 24px;
        width: 60px;
        background-color: transparent;
        border-radius: 20px;
        border-radius: 20px;
        background: rgba(25, 25, 25, 0.05);

        & svg {
            height: 8px;
            fill: $colorTitle;
        }

        &:hover {

            background: $colorHover;

            & svg path {
                fill: $colorIconActive;
            }
        }
    }

    .swiper-button-disabled {
        background: transparent;

        & svg {
            fill: #D3D3D3;
        }
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 0px;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        left: 65px;
    }


}