@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@400;600&display=swap');


@keyframes backgroundAnimation {
    0%   { background-position: center; }
    25%  { background-position: left top; }
    50%  { background-position: top; }
    75%  { background-position: right bottom; }
    100% { background-position: center; }
  }


%fontStyle {
    font-style: normal;
    line-height: normal;
}

%fontSizeMainTitle {
    @include fontSizeWeight(48px, 600);
    @extend %fontStyle;
}

%fontSizeTitle {
    @include fontSizeWeight(36px, 600);
    @extend %fontStyle;
    color: $colorTitle;
}

%fontSizeSubTitle {
    @include fontSizeWeight(20px, 400);
    @extend %fontStyle;
    color: $colorTitle;
}

%fontSizeText {
    @include fontSizeWeight(14px, 400);
    @extend %fontStyle;
}

%fontSizeBtn {
    @include fontSizeWeight(16px, 400);
    @extend %fontStyle;
}

%flexCenter {
    display: flex;
    align-items: center;
}

%flexCenterCenter {
    @extend %flexCenter;
    justify-content: center;
}

%BtnMainStyle {
    //@include btnStyle($colorSubTitle);
    @extend %fontSizeBtn;
    min-height: 60px;
    padding: 19px 10px;
    position: relative;
}

%underline {

    content: "";
    width: 232px;
    height: 30px;
    display: block;
    position: absolute;
    z-index: -1;
    bottom: -9px;
    right: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.center {
    max-width: $contentWidth;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn_main {
    @extend %BtnMainStyle;
    @extend %flexCenterCenter;
    @include btnStyle($colorSubTitle, transparent);
    z-index: 10;
    transition: .2s;

    // &::after {
    //     content: attr(data-title);
    //     position: absolute;
    //     @extend %flexCenterCenter;
    //     text-align: center;
    //     color: transparent;
    //     font-weight: 600;
    //     transition: 0.3s;
    //     transform: scale(0.9);
    //     transform-origin: center center;
    // }

    .btn_bg {
        position: absolute;
        z-index: -1;
        left: 0;
        width: 200%;
        height: 200%;
        top: 0;
        border-radius: 30px;
        opacity: 0;
        background-image: url(../img/bgBtn.jpg);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: 150%;
        transition: all .2s ease-in-out;
    }

    &:hover {
        @include btnStyle(transparent, transparent, $colorIconActive);
        border: none;
        cursor: pointer;
        box-shadow: 0px 4px 20px 0px rgba(54, 95, 239, 0.30);


        &::after {
            color: $colorIconActive;
            transform: scale(1);
        }

        & .btn_bg {
            opacity: 1;
        }

        &:active {
            box-shadow: none;
            color: $colorIconActive;

            & .btn_bg {
                background-position: left top
            }

            &::after {
                color: transparent;
                transform: scale(0.9);
            }
        }
    }


}

.btn_light {
    @extend %flexCenterCenter;
    @include btnStyle(rgba(255, 255, 255, 0.30), transparent, $colorIconActive);
    position: relative;
    transition: .2s;
    z-index: 10;

    // &::after {
    //     content: attr(data-title);
    //     position: absolute;
    //     @extend %flexCenterCenter;
    //     text-align: center;
    //     color: transparent;
    //     font-weight: 600;
    //     transition: 0.3s;
    //     transform: scale(0.9);
    //     transform-origin: center center;
    // }

    &:hover {
        @include btnStyle(transparent, $colorTitle, $colorTitle);
        cursor: pointer;
    }
}

.form__btn {
    position: relative;
    @extend %flexCenterCenter;
    padding: 19px 10px;
    height: 60px;
    min-width: 271px;
    @extend %fontSizeBtn;
    color: $colorHover;
    border-radius: 30px;
    border: none;
    background: $colorIconActive;
    box-shadow: 0px 4px 20px 3px rgba(255, 255, 255, 0.10);
    transition: 0.2s;

    &::after {
        content: attr(data-title);
        position: absolute;
        @extend %flexCenterCenter;
        text-align: center;
        color: transparent;
        font-weight: 600;
        transition: 0.2s;
        transform: scale(0.9);
        transform-origin: center center;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0px 4px 20px 3px rgba(255, 255, 255, 0.30);
        color: transparent;

        &::after {
            color: $colorHover;
            transform: scale(1);
        }
    }

    &:disabled {
        background: #254BD0;
        box-shadow: none;
        color: #87A0F9;

        &:hover {
            &::after {
                color: transparent;
            }
        }
    }
}

details>summary {
    list-style: none;
}

details>summary::marker,
/* Latest Chrome, Edge, Firefox */
details>summary::-webkit-details-marker

/* Safari */
    {
    display: none;
}

.swiper {
    display: flex;
    width: 100%;
    padding-bottom: 64px;
    position: relative;

    .service-slider__wrap {
        height: auto;
    }

    &-pagination {
        &-bullet {
            max-width: 36px;
            width: 5%;
            height: 20px;
            background: none;
            border-radius: 0;
            border-bottom: 1px solid #D3D3D3;
            // transition: width .3s ease-in-out;
            transition: cubic-bezier(0.2, 0.6, 0.6, 1) .5s !important;

            &-active {
                max-width: 70px;
                width: 15%;
                border-bottom: 1px solid $colorRegular;
            }
        }

    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 16px;
        height: 20px;
        @extend %flexCenter;
        justify-content: flex-end;
    }

    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after,
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        display: none;
    }


    .swiper-button-next,
    .swiper-button-prev {
        top: calc(100% - 6px);
        padding: 12px 15px;
        height: 24px;
        width: 60px;
        background-color: transparent;
        border-radius: 20px;
        border-radius: 20px;
        background: rgba(25, 25, 25, 0.05);

        & svg {
            height: 8px;
            fill: $colorTitle;
        }

        &:hover {

            background: $colorHover;

            & svg path {
                fill: $colorIconActive;
            }
        }
    }

    .swiper-button-disabled {
        background: transparent;

        & svg {
            fill: #D3D3D3;
        }
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 0px;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        left: 65px;
    }


}