.footer {

    &__main {
        padding: 100px 50px 29px;
        background-color: $colorTitle;
        border-radius: 15px;
    }

    &__nav {
        display: flex;
        flex-wrap: nowrap;
        gap: 150px;
        color: $colorIconActive;


        &-left {
           min-width: 165px;

            .header__logo {
                margin-bottom: 43px;
            }

            .contacts-phone {
                margin-bottom: 20px;
                color: $colorIconActive;

                &__number {
                    justify-content: flex-start;
                }
            }
        }

        &-right {

            .header__nav-list {
                flex-basis: 325px;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: stretch;
                gap: 25px;
                margin-bottom: 50px;
            }

            .header__nav-item {
                width: 25%;
                flex-basis: 230px;
                flex-grow: 1;
            }

            .header__nav-details[open] .header__nav-sub {
                top: 0;
                left: 0;
            }

            .header__nav-details[open] .header__nav-summary {
                color: $colorIconActive;
            }

            .header__nav-sub {
                margin-top: 15px;
                position: relative;
                padding: 0;
                background-color: transparent;
                box-shadow: none;
                gap: 10px;
                color: rgba(255, 255, 255, 0.50);
            }



            .header__nav-item:last-child {
                color: #fff;
            }

            .header__nav-summary {
                padding: 0;
            }

            .summary__icon {
                display: none;
                width: 6px;
                aspect-ratio: 1/0.75;
            }
        }

    }



    &__sub {
        padding: 20px 0;


        &-list {
            @extend %flexCenter;
            flex-wrap: wrap;
            gap: 15%;
        }

        &-item,
        &-link {
            @include fontSizeWeight(13px, 400);
            color: $colorRegular;
        }
    }

    .modal {
        position: fixed;
        display: none;
        z-index: 100000;
        background-color: rgba(0, 0, 0, 0.80);
        top: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100vh;

        &__box {

            padding: 30px 30px 88px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 30px;
            max-height: 636px;
            max-width: 756px;
            border-radius: 20px;
            background: url(../img/consultingBG.jpg) right/cover no-repeat;
        }

        &__close {
            align-self: flex-end;
            @extend %flexCenterCenter;
            width: 31px;
            aspect-ratio: 1/1;
            background-color: rgba(255, 255, 255, 0.10);
            border-radius: 50%;

            &-icon {
                width: 17px;
                aspect-ratio: 1/1;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.4);
                cursor: pointer;
            }
        }

        &__title {
            @extend %fontSizeTitle;
            color: $colorIconActive;
            margin-bottom: 15px;
            text-align: center;
        }

        &__text {
            @include fontSizeWeight(13px, 400);
            color: rgba(255, 255, 255, 0.70);
            text-align: center;
        }

        &__img {
            width: 227px;
            aspect-ratio: 1/1;
        }
    }

}