.header {

    &__nav {
        @extend %fontSizeText;
        color: $colorRegular;


        &-list {
            @include flexCenterJustify(center);
            gap: 45px;
        }

        &-details {
            position: relative;
        }

        &-summary {
            padding: 20px 0;
            @extend %flexCenter;
            transition: color .3s ease-in;

            .summary__icon {
                width: 4px;
                height: 3px;
                fill: $colorRegular;
                margin-left: 4px;
                transition: transform .3s ease-in;
            }

            &:hover {
                color: $colorHover;
                cursor: pointer;

                & .summary__icon {
                    fill: $colorHover;
                }
            }
        }


        &-sub {
            position: absolute;
            z-index: 101;
            display: flex;
            flex-direction: column;
            gap: 15px;
            min-width: 273px;
            padding: 20px 25px;
            border-radius: 12px;
            box-shadow: 0px 4px 20px 3px rgba(75, 75, 75, 0.15);
            background-color: $colorIconActive;
        }

        &-link {
            color: inherit;
            transition: color .2s ease-in;

            &:hover {
                color: $colorHover;
            }
        }

        &-details[open] .summary__icon {
            transform: rotate(-90deg);
        }

        &-details[open] &-sub {
            top: 46px;
            left: -25px;
        }

        &-details[open] &-summary {
            color: $colorHover;
        }
    }

    &__heading {
        position: relative;
        z-index: 100;
        @include flexCenterJustify(space-between);
        padding: 21px 20px;
        border-radius: 50px;
        // border: 1px solid rgba(255, 255, 255, 0.10);
        background: linear-gradient(270deg, #312B2D 13.02%, rgba(49, 43, 45, 0.87) 34.54%, #312B2D 55.18%, rgba(49, 43, 45, 0.85) 79.33%, #312B2D 97.33%);
        backdrop-filter: blur(5px);
        color: #fff;
    }

    &__logo {
        @extend %flexCenter;
        @include fontSizeWeight(24px, 600);
        @extend %fontStyle;
        gap: 8px;
        font-family: Montserrat, sans-serif;
        color: #fff;
        text-transform: lowercase;
        transition: color .3s ease-in;

        .logo__img {
            fill: $colorIconActive;
            width: 30px;
            height: 29px;
            transition: fill .3s ease-in;
        }

        &:hover {
            color: $colorHover;

            & .logo__img {
                fill: $colorHover;
            }
        }

    }

    &__contacts {
        @extend %fontSizeText;
        @extend %flexCenterCenter;
        gap: 45px;


        .contacts-city {
            @extend %flexCenter;
            position: relative;

            &__icon {
                width: 16px;
                height: 16px;
                fill: $colorIconActive;
                margin-right: 5px;
            }

            &__label {
                @extend %flexCenter;
                padding: 5px 10px;
                border-radius: 20px;

                &:hover {
                    cursor: pointer;
                    background: rgba(255, 255, 255, 0.10);
                }
            }

            &__input {
                display: none;

            }

            &__box {
                display: none;
                position: absolute;
                top: 45px;
                left: -20px;
                width: 746px;
                height: 511px;
                padding: 35px;
                border-radius: 12px;
                background: $colorIconActive;
                box-shadow: 0px 4px 20px 3px rgba(75, 75, 75, 0.15);
                overflow: hidden;
            }

            &__title {
                @include fontSizeWeight(20px, 600);
                color: $colorTitle;
                margin-bottom: 15px;
            }

            &__text {
                @include fontSizeWeight(13px, 400);
                color: $colorSubTitle;
            }

            &__list {
                overflow-x: scroll;
                @extend %fontSizeText;
                height: 363px;
                width: 100%;
                padding: 24px 0 29px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: flex-start;
                color: $colorRegular;
                scrollbar-width: thin;
                scrollbar-color: $colorHover rgba(77, 67, 244, 0.10);

                &::-webkit-scrollbar {
                    height: 4px;
                    /* ширина всей полосы прокрутки */
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $colorHover;
                    border-radius: 20px;
                    //border: 1px solid $colorIconActive;
                }

                &::-webkit-scrollbar-track {
                    background: rgba(77, 67, 244, 0.10);
                    /* цвет зоны отслеживания */
                }
            }

            &__item {
                width: 25%;
            }

            &__link {
                @extend %flexCenter;
                color: $colorRegular;
                text-decoration: underline;
                padding: 5.8px 0;

                .contacts-city__icon {
                    fill: $colorRegular;
                }
            }
        }

        #myCity:checked {
            &~.contacts-city__label {
                background: rgba(255, 255, 255, 0.10);
                border-radius: 20px;
            }

            &~.contacts-city__box {
                display: block;
            }
        }





        .contacts-phone {
            &__icon {
                width: 16px;
                height: 16px;
                fill: $colorIconActive;
                margin-right: 5px;
            }

            &__number {
                @extend %flexCenterCenter;
            }

            & span {
                display: block;
                font-size: 13px;
                opacity: 0.47;
            }

        }

        .contacts-social {

            &__list {
                @extend %flexCenter;
                gap: 20px;
            }

            &__icon {
                height: 18px;
                width: 18px;
                fill: rgba(49, 43, 45, 0.87);
                transition: fill .2s ease-in;
            }

            &__item {
                width: 32px;
                height: 32px;
                background-color: transparent;
                border-radius: 50%;
                transition: box-shadow .2s ease-in;
                background-color: $colorIconActive;

                &:hover {
                    &.social-item_avito {

                        box-shadow: 4px 4px 20px 0px rgba(147, 201, 37, 0.3),
                            -2px 2px 20px 0px rgba(157, 102, 240, 0.3),
                            2px -2px 20px 0px rgba(248, 94, 96, 0.3),
                            -4px -4px 20px 0px rgba(0, 165, 248, 0.3);

                        .contacts-social__icon {
                            --avito-1: #00A5F8;
                            --avito-2: #F85E60;
                            --avito-3: #9D66F0;
                            --avito-4: #93C925;

                        }
                    }

                    &.social-item_telegram {
                        box-shadow: 0px 0px 20px 4px rgba(42, 171, 238, 0.30);

                        .contacts-social__icon {
                            fill: #2AABEE;
                        }
                    }

                    &.social-item_whatsapp {
                        box-shadow: 0px 0px 20px 4px rgba(37, 211, 102, 0.3);

                        .contacts-social__icon {
                            fill: #25D366;

                        }
                    }
                }

                &.social-item_whatsapp,
                &.social-item_telegram,
                &.social-item_avito {
                    &:active {
                        background-color: transparent;
                        box-shadow: none;
                        -webkit-box-shadow: none;
                    }
                }
            }

            &__link {
                @extend %flexCenterCenter;
                height: 100%;
                width: 100%;
            }
        }
    }

    &__btn {
        @extend %fontSizeText;
        position: relative;
        padding: 14px 20px;


        &:hover {
            cursor: pointer;
            background: $colorIconActive;
            box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.30);
            color: $colorTitle;

        }

        &:hover .btn_bg {
            opacity: 1;
        }

        .btn_bg {
            position: absolute;
            z-index: -1;
            width: 100%;
            min-height: 100%;
            top: 0;
            left: 0;
            background-image: url(../img/bgBtn.svg);
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0;
            transition: opacity .3s ease-in;
        }
    }


    &__burger {
        display: none;

        #burger {
            display: none;
        }

        .burger-nav__header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 36px;
        }

        .close__icon {
            width: 32px;
            height: 32px;
            stroke: white;

            &:hover {
                cursor: pointer;
                stroke: $colorHover;
            }
        }

        &-nav {
            position: absolute;
            opacity: 0;
            top: -1000px;
            left: -16px;
            padding: 28px;
            width: 100vw;
            max-height: 100vh;
            background: $colorTitle;
            backdrop-filter: blur(5px);
            z-index: 10000;
            transition: opacity .3s ease-in-out;
        }

        .header__nav {
            &-list {
                gap: 25px;
            }

            &-summary {
                padding: 0;
                justify-content: center;
            }

            &-sub {
                position: inherit;
                align-items: center;
                margin-top: 15px;
                padding: 15px 38px;
                border-radius: 10px;
                background: rgba(255, 255, 255, 0.05);

                .header__nav-link {
                    color: rgba(255, 255, 255, 0.80);
                }

            }


        }
    }


}