.main {
    padding: 87px 0 46px;
    @extend %flexCenterCenter;
    flex-direction: column;

    &__title-sub {
        padding: 10px;
        border-radius: 30px;
        background: rgba(231, 235, 254, 0.20);
        @include fontSizeWeight(13px, 400);
        line-height: 138.682%;
        color: $colorHover;
    }

    &__title {
        @include fontSizeWeight(48px, 600);
        position: relative;
        text-align: center;
        max-width: 1080px;
        margin-bottom: 25px;
        color: $colorTitle;


        .title_underline {
            position: relative;

            &::after {
                content: "";
                width: 232px;
                height: 30px;
                display: block;
                position: absolute;
                z-index: -1;
                bottom: -9px;
                right: 0;
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='232' height='30' viewBox='0 0 232 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M174.909 0.120112C142.292 0.461154 132.966 0.683009 114.869 1.54904C96.1143 2.44652 82.6926 3.34615 61.3966 5.13321C56.4598 5.54749 51.1737 5.94065 44.9766 6.35436C22.2122 7.87404 17.7823 8.27899 10.4231 9.51248C6.7769 10.1238 3.62354 10.5468 1.85618 10.6621C0.284852 10.7645 0 10.829 0 11.0821C0 11.3059 2.51312 11.5019 3.88769 11.3853C4.38029 11.3436 5.71488 11.2415 6.85358 11.1587C7.99227 11.0757 10.4981 10.853 12.4221 10.6637C16.9528 10.2178 19.128 10.0772 26.9146 9.72701C40.0045 9.13826 49.8929 8.57249 62.0392 7.71737C66.5154 7.40218 72.4587 6.98375 75.2466 6.78745C96.3904 5.2985 122.218 3.9708 138 3.56169C157.151 3.06499 216.606 2.62587 215.602 2.98831C215.204 3.13205 208.401 4.20113 204.322 4.76087C200.576 5.27509 194.317 6.01676 186.617 6.85881C182.966 7.2583 177.954 7.81115 175.48 8.08743C166.187 9.12549 163.126 9.44743 157.846 9.94269C133.523 12.224 117.456 14.212 95.0934 17.7068C81.801 19.7841 70.906 22.1688 58.7474 25.6624C51.8347 27.6486 51.1612 28.0014 51.8416 29.2801C52.2844 30.1121 55.7723 30.22 62.8072 29.619C75.6635 28.5209 87.7448 27.6693 99.4483 27.036C106.789 26.6388 107.762 26.5722 115.226 25.9556C118.014 25.7254 122.833 25.3888 125.934 25.2079L131.574 24.8789L124.078 24.7492C112.719 24.5527 100.534 24.5646 96.5212 24.7762C83.2356 25.477 76.0093 26.0163 64.2059 27.1879C61.3925 27.4672 59.019 27.6717 58.9313 27.6424C58.0861 27.359 77.0058 23.076 86.0315 21.5077C106.406 17.967 127.388 15.3253 159.631 12.2405C162.576 11.9588 168.487 11.3425 172.767 10.871C177.047 10.3995 183.794 9.65708 187.759 9.22098C203.024 7.54276 207.572 6.91769 222.242 4.48157C231.637 2.92125 231.687 2.9079 231.943 1.88176C232.225 0.753517 231.472 0.241598 229.316 0.0952733C227.267 -0.0438718 188.913 -0.0263568 174.909 0.120112ZM132.183 24.765C132.361 24.7993 132.618 24.7981 132.754 24.7622C132.891 24.7263 132.745 24.6981 132.431 24.6997C132.117 24.7013 132.005 24.7307 132.183 24.765Z' fill='%2357D34C'/%3e%3c/svg%3e ");
            }
        }
    }

    &__text {
        @extend %fontSizeText;
        margin-bottom: 50px;
        max-width: 692px;
        text-align: center;
        color: $colorLight;
        line-height: 145.182%;
    }

    &__btn-box {
        @extend %flexCenterCenter;
        gap: 13px;
        flex-wrap: wrap;
        margin-bottom: 46px;
    }

    &__btn {
        width: 210px;
    }

    &__cards-box {
        position: relative;
        z-index: 10;
        display: grid;
        grid-template-columns: minmax(16%, 271px) minmax(14%, 249px) minmax(18%, 332px) minmax(14%, 249px) minmax(16%, 271px);
        column-gap: 12px;
        width: 100%;
        grid-template-rows: repeat(5, 83px);
    }

    &__cards {
        display: flex;
        flex-direction: column;
        justify-content: end;
        border-radius: 15px;
        transition: transform 0.3s ease-in-out;

        &_item1 {
            grid-row: span 5;
            grid-column: span 1;
            // background-image: url(../img/main_1.png);
            border-radius: 35px 35px 0 0;

            .main__cards-img {
                aspect-ratio: 0.65 / 1;
            }
        }

        &_item2 {
            grid-row: 2 / 6;
            grid-column: 2 / 3;
            // background-image: url(../img/main_2.jpg);

            .main__cards-img {
                aspect-ratio: 0.75/1;
            }

        }

        &_item3 {
            grid-row: 3 / 6;
            grid-column: 3 / 4;

            .main__cards-img {
                height: 100%;
                aspect-ratio: 1/0.77;
            }
        }

        &_item6 {
            grid-row: 2 / 3;
            grid-column: 3 / 4;
            padding: 22px 0 15px;
            justify-content: center;
        }

        &-rate {
            @extend %flexCenter;
            gap: 7px;

            .rate {
                &__img-box {
                    display: flex;
                    flex-wrap: nowrap;
                }

                &__img {
                    max-width: 38px;
                    height: 38px;
                    border-radius: 50%;
                    border: 2px solid $colorIconActive;
                    aspect-ratio: auto;

                    &:not(:first-child) {
                        margin-left: -18px;
                    }

                }


                &__info {
                    @extend %flexCenter;
                    flex-wrap: wrap;
                    color: #15151A;

                    &-stars {
                        @extend %flexCenter;
                    }

                    &-star {
                        width: 19px;
                        height: 18px;
                        fill: $colorIconActive;
                        stroke: #F2D054;
                        --star_fill: #fff;

                        &.star_fill {
                            --star_fill: #F2D054;
                        }
                    }

                    &-value {
                        @include fontSizeWeight(12px, 600);
                        margin-left: 5px;

                    }

                    &-text {
                        @include fontSizeWeight(13px, 300);
                        letter-spacing: -0.5px;

                        &_bold {
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        &-img {
            width: 100%;
        }

        &_item4 {
            grid-row: 2 / 6;
            grid-column: 4 / 5;
        }



        &-about {
            position: relative;
            border-radius: 15px 15px 0 0;
            padding: 16px 16px 32px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &:first-child {
                background-color: $bgColorLight;
                bottom: -48px;
            }

            &:nth-child(2) {
                background-color: $colorHover;
                bottom: -32px;
            }

            &:nth-child(3) {
                background-color: $bgColorMedium;
                bottom: -16px;
            }

            &:last-child {
                bottom: 0;
                padding-bottom: 16px;
                background: linear-gradient(273deg, #312B2D -8.26%, #484646 23%, #312B2D 81.24%, #312B2D 114.22%);
                border-radius: 15px;

            }

            .about__label {
                @include flexCenterJustify(space-between);
                max-height: 49px;

                &::after {
                    content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.4688 6.90625H8.09375V4.53125C8.09375 4.37378 8.03119 4.22276 7.91984 4.11141C7.80849 4.00006 7.65747 3.9375 7.5 3.9375C7.34253 3.9375 7.19151 4.00006 7.08016 4.11141C6.96881 4.22276 6.90625 4.37378 6.90625 4.53125V6.90625H4.53125C4.37378 6.90625 4.22276 6.96881 4.11141 7.08016C4.00006 7.19151 3.9375 7.34253 3.9375 7.5C3.9375 7.65747 4.00006 7.80849 4.11141 7.91984C4.22276 8.03119 4.37378 8.09375 4.53125 8.09375H6.90625V10.4688C6.90625 10.6262 6.96881 10.7772 7.08016 10.8886C7.19151 10.9999 7.34253 11.0625 7.5 11.0625C7.65747 11.0625 7.80849 10.9999 7.91984 10.8886C8.03119 10.7772 8.09375 10.6262 8.09375 10.4688V8.09375H10.4688C10.6262 8.09375 10.7772 8.03119 10.8886 7.91984C10.9999 7.80849 11.0625 7.65747 11.0625 7.5C11.0625 7.34253 10.9999 7.19151 10.8886 7.08016C10.7772 6.96881 10.6262 6.90625 10.4688 6.90625Z' fill='%23737373'/%3e%3c/svg%3e ");
                    height: 19px;
                    aspect-ratio: 1 / 1;
                    background-color: $colorIconActive;
                    border-radius: 50%;
                    text-align: center;
                    opacity: 1;
                    transition: opacity .3s ease-out;

                }

                &:hover {
                    cursor: pointer;
                }
            }

            .about__title {
                @include fontSizeWeight(13px, 400);
                margin: 0;
            }

            .about__text {
                @include fontSizeWeight(12px, 400);
            }

            .about__input[type="radio"] {
                display: none;

                &~.about__text {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.7s ease-out;
                }

                &:checked {
                    height: 100%;

                    &~.about__text {
                        max-height: 183px;
                        padding: 10px 0 8px;
                        line-height: 130.182%;
                    }

                    &~.about__label {

                        & .about__title {
                            @include fontSizeWeight(15px, 600);
                            margin-top: 4px;
                            max-height: 67px;
                        }
    
                        &::after {
                            opacity: 0;
                        }
    
                    }
                }
            }

            .services__link {
                margin-top: 13px;
                font-size: 12px;

                &-icon {
                    width: 15px;
                    height: 16px;
                    fill: none;
                    stroke: $colorHover;
                }
            }

            &:not(:first-child) {

                & .about__text,
                & .services__link,
                & .about__title {

                    color: $colorIconActive;

                }

                & .services__link {
                    &-icon {
                        stroke: $colorIconActive;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }

            }
        }



        &_item5 {
            grid-row: 1 / 6;
            grid-column: 5 / 6;
            // background-image: url(../img/main_5.jpg);
            .main__cards-img {
                aspect-ratio: 0.65 / 1;
            }
        }

        &:hover {
            transform: scale(1.03);
            //box-shadow: 0px 4px 20px 3px rgba(75, 75, 75, 0.15);
        }

    }


}