@media (max-width: 1080px) {
    .center {
        max-width: $contentWidthTablet;
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {

        &__nav,
        &__contacts,
        &__btn {
            display: none;
        }

        &__heading {
            padding: 13px 12px 12px;
            margin-top: 10px;
        }

        &__burger {
            display: block;

            #burger:checked~&-nav {
                opacity: 1;
                top: -10px;

                .header__nav-list {
                    flex-direction: column;
                    margin: 45px 0 50px;
                }

                .header__nav-item {
                    width: 100%;
                    text-align: center;
                }
            }

            .contacts {
                &-city {
                    &__box {
                        width: 100vw;
                        left: calc(-50vw + 50%);
                    }
                }

                &-social {
                    margin: 25px 0;
                }
            }

            .header__btn {
                display: flex;
                width: 100%;
                max-width: 343px;
            }
        }


    }

    .main {

        &__cards-box {
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            // column-gap: 5px;

        }

        &__cards {
            &_item2 {
                grid-row: 3/6;

                .main__cards-img {
                    height: 100%;
                }

            }

            &_item6 {
                grid-column: 2 / 4;
            }

            &_item3 {
                display: none;
            }

            &_item4 {
                grid-row: 1/6;
            }

            &_item5 {
                grid-column: 3/4;
                grid-row: 3/6;

                .main__cards-img {
                    height: 100%;
                }
            }

        }
    }

    .services {

        &-main__content {
            gap: 10px;

             & .services__item {
                    min-width: 343px;
                }
        }

        &__item {
            width: calc((100% - 30px) / 4);
        }


        &__info {
            width: 33%;
        }

        &__slider {
            width: 67%;

        }

    }

    .consulting {
        background: url(../img/consultingBG.jpg) center/cover no-repeat;

        &__info {
            width: 100%;

        }
    }

    .footer {
        &__nav {
            gap: 75px;


            &-right {
                .header__nav-item {
                    width: 20%;
                    flex-basis: 200px;
                }
            }

        }


    }
}


@media (max-width: 767px) {

    .center {
        min-width: $contentWidthMobile;
    }

    .main {

        padding: 42px 0 0;
        text-align: center;

        &__title-sub {
            font-size: 12px;
        }

        &__title {
            font-size: 36px;
            margin-bottom: 40px;
        }

        &__text {
            font-size: 12px;
            margin-bottom: 32px;
        }

        &__btn-box {
            margin-bottom: 50px;
        }

        // &__btn:first-child {
        //     display: none;
        // }

        &__cards-box {
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            grid-template-rows: repeat(6, 49px);
        }

        &__cards {

            &_item1 {
                display: none;
                // grid-row: span 6;
            }

            &_item5 {
                grid-row: 1/7;
                grid-column: 1/2;

                // grid-row: 1 / 6;
                // grid-column: 2 / 3;
            }

            &_item4 {
                grid-row: 3/7;
                grid-column: 2 / 4;
            }

            &_item2 {
                display: none;
            }

            &_item6 {
                grid-row: 10 / 11;
                grid-column: span 2;
            }

            &-about {
                text-align: start;

                .about__title {
                    text-align: start;
                }
            }
        }
    }

    .about {
        padding: 120px 0;
        flex-direction: column;

        &__left,
        &__right {
            width: 100%;
        }

        &__title {
            font-size: 32px;
            text-align: center;
        }

        &__box {
            &-info {
                padding: 21px 10px;
            }

            &-item {
                width: 100%;
                align-items: stretch;

                &:nth-child(2n) {
                    .about__box-info {
                        padding: 28px 22px;
                    }
                }
            }



            &-title {
                font-size: 24px;
            }

            &-text {
                font-size: 12px;
            }

            &-img {

                flex-shrink: 0;
            }
        }

        &__right {
            padding-top: 50px;
        }
    }

    .services {
        &__title {
            text-align: center;
            font-size: 32px;
        }

        &-main {
            margin-bottom: 120px;

            &__content {
                justify-content: center;
            }

            
        }

        &__item {
            width: calc(50% - 10px);

        }

        &__info {
            width: 100%;
            align-items: center;
        }

        &__text {
            text-align: center;
        }

        &__slider {
            width: 100%;

        }

        &-extra {
            margin-bottom: 120px;

            &__content {
                flex-wrap: wrap;
                justify-content: center;
                gap: 50px;
            }

            // .swiper {
            //     .services__item {
            //         max-width: calc(50vw - 10px) !important;
            //     }
            // }

        }
    }

    .swiper {

        &-button-next,
        &-button-prev {
            display: none;
        }

        .swiper-horizontal>.swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal,
        .swiper-pagination-custom,
        .swiper-pagination-fraction {
            justify-content: center;
        }

    }

    .steps {

        &__box {
            padding-bottom: 120px;
        }

        &__title {
            margin-bottom: 30px;
            font-size: 32px;
        }

        &__item {
            flex-grow: 1;
            flex-basis: calc((100% - 20px) / 2);
            min-width: 343px;

            &.item1,
            &.item4,
            &.item5 {
                flex-shrink: 1;
            }


        }


    }

    .pricing {

        &__title {
            font-size: 32px;
        }

        &__box {
            margin-bottom: 120px;
        }

        &__view {
            &-img {
                width: initial;
                max-height: 200px;
            }
        }


        
        &__summary {
            padding: 20px;

            &-title {
                display: none;
            }


        }
    }


    .team {

        &__title {
            text-align: center;
            font-size: 32px;
        }
        &__content {
            padding-bottom: 120px;
        }
    }
    
    .portfolio {
        margin-bottom: 120px;

        &__title {
            text-align: center;
            font-size: 32px;
        }

        &__item {
            width: 100%;

            &-sticker {
                top: 12px;
                left: 20px;
                font-size: 12px;
            }
            &-box {
                padding-top: 30px;
            }



            &-description {
                flex-direction: column;
                gap: 20px;
            }

            &-title {
                text-align: center;
            }
            &-text {
                text-align: center;
            }
        }
    }
    

    .consulting {
        border-radius: 0;
        padding: 70px 16px;
        margin: 0 -16px 20px;

        &__title {
            font-size: 32px;
            text-align: center;
        }
    }

}

@media (max-width: 737px) {
    .main {

        padding: 42px 0 0;
        text-align: center;

        &__title-sub {
            font-size: 12px;
        }

        &__title {
            font-size: 36px;
            margin-bottom: 40px;
        }

        &__text {
            font-size: 12px;
            margin-bottom: 32px;
        }

        &__btn-box {
            margin-bottom: 0;
        }

        &__btn:first-child {
            display: none;
        }

        &__cards-box {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(auto-fill, minmax(49px, 1fr));
            row-gap: 20px;
        }

        &__cards {

            &_item1,
            &_item2,
            &_item5 {
                display: none;
            }

            &_item4 {
                grid-row: 1 / 8;
                grid-column: span 1;
            }

            &_item6 {
                grid-row: span 1;
                grid-column: span 1;
            }

        }
    }

    .services {
        &__slider {
            max-width: $contentWidthMobile;
            width: 100%;

        }

        &-extra {
            .swiper {
                .services__item {

                    &.swiper-slide-active {

                        & .bg {
                            opacity: 0;
                        }

                        & .services__item-title {
                            color: $colorTitle;
                        }

                        & .services__item-price {
                            color: $colorRegular;
                        }

                        & .services__item-icon {
                            fill: $colorIcon;
                        }

                        & .services__item-text,
                        & .services__item-link {
                            color: $colorSubTitle;
                        }

                        & .services__item-price {
                            background-color: $colorIconActive;
                            border-radius: 30px;
                            outline: none;
                        }
                    }
                }
            }
        }
    }

    .swiper {
        &-slide {
            max-width: 100% !important;
        }
    }

    

    .team {
        &__slider {
            max-width: $contentWidthMobile;
            width: 100%;

        }
    }

    .consulting {

        &__form {

            &-label {
                flex-basis: 100%;
                width: 100%;
            }
        }

    }

    .footer {
        &__main {
            padding: 50px 22px;
        }

        &__nav {
            gap: 50px;
            align-items: center;
            flex-direction: column;

            &-left {

                .header__logo,
                .contacts-phone__number,
                .contacts-social__list {
                    justify-content: center;
                }
            }

            &-right {
                .header__nav-list {
                    flex-direction: column;
                }

                .header__nav-item {
                    width: 100%;
                    flex-basis: auto;
                    text-align: center;
                }

                .header__nav-summary {
                    justify-content: center;
                }

                .header__nav-sub {
                    padding: 15px 38px;
                    border-radius: 10px;
                    background: rgba(255, 255, 255, 0.05);
                    color: rgba(255, 255, 255, 0.80);
                }

                .header__nav-details[open] .header__nav-summary {
                    color: $colorHover;
                    ;
                }

                .summary__icon {
                    display: inline-block;
                    fill: $colorIconActive;
                }
            }


        }



        &__sub {
            padding: 50px 0 28px;

            &-list {
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }
        }

        .modal {

            &__box {
                padding: 17px 17px 60px;
                gap: 25px;
                max-height: 418px;
            }

            &__img {
                width: 190px;
            }

            &__title {
                font-size: 20px;
            }

            &__text {
                font-size: 12px;
            }

            &__btn {
                display: none;
            }
        }
    }
}