@mixin flexCenterJustify($justify) {
    @extend %flexCenter;
    justify-content: $justify;
}

@mixin fontSizeWeight($fontSize, $fontWeight) {
    font-size: $fontSize;
    font-weight: $fontWeight;
}

@mixin btnStyle ($borderColor, $bgColor, $colorText: #191919, $borderWidth: 1px, $borderRadius: 30px) {
    background-color: $bgColor;
    color: $colorText;
    border-radius: $borderRadius;
    border: $borderWidth solid $borderColor;
    overflow: hidden;
    transition: color .2s ease-in,
                background-color .2s ease-in;
}