.services {
    &__title {
        @extend %fontSizeTitle;
        margin-bottom: 50px;
    }

    &-main {
        margin-bottom: 150px;

        &__content {
            
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 430px;
        width: calc((100% - 60px) / 4);
        padding: 30px;
        background: rgb(231, 237, 254);
        border: 1px solid #FCFCFC;
        border-radius: 15px;
        transition: transform 0.3s ease-in-out;

        &:nth-child(odd) {
            background: linear-gradient(166deg, rgba(54, 95, 239, .1) 0%, rgba(252, 252, 252, 1) 100%);
        }

        &:nth-child(even) {
            background: linear-gradient(346deg, rgba(54, 95, 239, .1) 0%, rgba(252, 252, 252, 1) 100%);
        }

        &-content {
            margin-bottom: 20px;
        }


        &-price {
            display: inline-block;
            padding: 5px 10px;
            margin-bottom: 25px;
            background-color: $colorIconActive;
            border-radius: 30px;
        }

        &-title {
            @extend %fontSizeSubTitle;
            margin-bottom: 25px;
        }

        &-text {
            @extend %fontSizeText;
            color: $colorSubTitle;
            margin-bottom: 15px;
        }

        &-link {
            @extend %fontSizeText;
            color: $colorSubTitle;
            text-decoration: underline;
        }

        &-icon {
            width: 27px;
            height: 27px;
            fill: #374957; 
        }



    }

    &__link {
        @extend %fontSizeText;
        @extend %flexCenter;
        color: $colorHover;

        &-icon {
            width: 15px;
            height: 16px;
            margin-left: 5px;
            stroke: $colorHover;
            fill: none;
        }
    }

    &-extra {
        margin-bottom: 150px;

        &__content {
            display: flex;
            gap: 20px;
        }

    }

    &__info {
        @extend %fontSizeText;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $colorLight;

        .services__text {
            margin-bottom: 30px;
        }

        .services__link {
            padding: 10px 12px;
            border: 1px solid $colorHover;
            border-radius: 30px;
            transition: all .3s ease-in-out;

            &:hover {
                background-color: $colorHover;
                color: $colorIconActive;

                & .services__link-icon {
                    stroke: $colorIconActive;
                }
            }
        }
    }

    &__slider {
        width: 75%;
    }


}