.steps {
    @extend %flexCenter;
    flex-direction: column;

    &__title {
        @extend %fontSizeTitle;
        margin-bottom: 25px;
        text-align: center;
    }

    &__text {
        @include fontSizeWeight(13px, 400);
        max-width: 638px;
        text-align: center;
        color: $colorLight;
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 100%;
        padding: 50px 0 150px;
    }

    &__item {
        @extend %fontSizeText;
        display: flex;
        align-items: flex-end;
        position: relative;
        min-height: 320px;
        width: 340px;
        padding: 40px 29px 40px 40px;
        flex-shrink: 1;
        border-radius: 15px;
        overflow: hidden;

        &-info {
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 15px;
        }

        &-num {
            width: 40px;
            height: 40px;
            @extend %flexCenterCenter;
            border-radius: 50%;
            color: $colorIconActive;
            font-weight: 600;
            background-color: $colorHover;
            filter: drop-shadow(0px 4px 10px rgba(54, 95, 239, .25));

        }

        &-title {
            @extend %fontSizeSubTitle;
            font-weight: 600;
        }

        &-text {
            @extend %fontSizeText;
            color: $colorSubTitle;
        }

        &.item1,
        &.item4,
        &.item5 {
            flex-shrink: 2;
            width: calc(100% - 340px - 20px);

            .steps__item-num {
                -webkit-box-shadow: 0px 8px 10px 1px rgba(255, 255, 255, 0.3) inset;
                -moz-box-shadow: 0px 8px 10px 1px rgba(255, 255, 255, 0.3) inset;
                box-shadow: 0px 8px 10px 1px rgba(255, 255, 255, 0.3) inset;
            }
        }

        &.item1 {
            background: url(../img/steps1.png) 100% / auto no-repeat, url(../img/steps1-2.jpg) center/cover no-repeat;
        }

        &.item2 {
            background: url(../img/steps2.png) top 0px right -5%/ auto no-repeat, url(../img/steps2-2.jpg) center/cover no-repeat;
        }

        &.item3 {
            background: url(../img/steps3.png) top center/auto no-repeat, linear-gradient(252deg, #312B2D -17.18%, rgba(49, 43, 45, 0.87) 9.31%, #312B2D 34.73%, rgba(49, 43, 45, 0.85) 64.47%, #312B2D 86.64%);

            .steps__item-num {
                color: $colorTitle;
            }
        }

        &.item4 {
            background: url(../img/steps4.png) 90%/auto no-repeat, url(../img/steps4-2.jpg) center/cover no-repeat;
        }

        &.item5 {
            background: url(../img/steps5.png), url(../img/steps5-2.jpg);
            background-repeat: no-repeat;
            background-position: top 0px right 7%;
        }

        &.item6 {
            background: url(../img/steps6.png) top 0px right -26px/ auto no-repeat, url(../img/steps2-2.jpg) center/cover no-repeat;
        }

        &.item2,
        &.item6 {
            .steps__item-num {
                color: $colorHover;
            }
        }

        &.item2,
        &.item3,
        &.item6 {
            .steps__item-num {
                background-color: $colorIconActive;
                filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.15));
            }

            .steps__item-title,
            .steps__item-text {
                color: $colorIconActive;
            }
        }
    }
}