.content {
    margin: 75px 0;
}

.container {
    margin-bottom: 45px;
}

.main-title {
    @extend %fontSizeMainTitle;
    color: $colorTitle;
    margin-bottom: 30px;
}

.main-subtitle {
    @include fontSizeWeight(32px, 600);
    color: $colorTitle;
    margin-bottom: 30px;
}

.subtitle {
    @extend %fontSizeSubTitle;
    color: $colorTitle;
    margin-bottom: 15px;
    margin-top: 25px;
}

.text {
    margin-bottom: 10px;

    &_light {
        margin: 15px 0;
        line-height: normal;
        color: $colorSubTitle;
    }
}

.list {
    list-style: inside;
    margin: 15px 0 15px 10px;
}

.text,
.list__item {
    @extend %fontSizeBtn;
    color: $colorRegular;
    line-height: 145%;

}



.table {
    width: 100%;
    margin-bottom: 30px;

    &-heading__row {
        background-color: $colorSubTitle;
    }

    .row {
        height: 64px;
    }

    &-body__row:nth-child(odd) {
        background-color: $colorIconActive;
    }

    &-body__row:nth-child(even) {
        background-color: $bgColorSuperLight;
    }
}

.link__btn {

    margin-top: 30px;
    @extend %fontSizeText;
    @extend %flexCenter;
    color: $colorHover;

    &-icon {
        width: 15px;
        height: 16px;
        margin-left: 5px;
        stroke: $colorHover;
        fill: none;
    }


}


@media (max-width: 767px) {
    .main-title {
        font-size: 32px;
    }



}