$contentWidth: 1420px;
$contentWidthTablet: 1080px;
$contentWidthMobile: 343px;



$colorRegular: #4B4B4B;
$colorLight: #858585;
$colorHover: #365FEF;
$colorBtnBorderLight: #C7D3FC;
$colorBtnBorder: rgba(54, 95, 239, 0.30);

$colorIcon: #374957;
$colorIconActive: #fff;
$colorTitle: #191919;
$colorSubTitle: #737373;

$bgColorMedium: #6E9DF7;
$bgColorLight: #E7EDFE;
$bgColorSuperLight: #F8F8F8;
$bgColorNeutral: #AAA;
$bgColorDarkNeutral: #737373;