@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@400;600&display=swap");
.consulting__form-input::-moz-placeholder {
  font-style: normal;
  line-height: normal;
}
.header__logo, .consulting__form-btn, .btn_main, .consulting__form-input::placeholder,
.consulting__form-input .form-input__text, .consulting__form-input, .sequence__item-text, .sequence__item, .services__info, .services__link, .services__item-link, .services__item-text, .about__list-item .list-item__text, .about__box-text, .main__text, .header .contacts-city__list, .header__btn, .header__contacts, .header__nav, .sequence__item-title, .services__item-title, .about__list-item .about__list-title, .consulting__title, .sequence__title, .services__title, .about__title {
  font-style: normal;
  line-height: normal;
}

.consulting__title, .sequence__title, .services__title, .about__title {
  font-size: 36px;
  font-weight: 600;
  color: #191919;
}

.sequence__item-title, .services__item-title, .about__list-item .about__list-title {
  font-size: 20px;
  font-weight: 400;
  color: #191919;
}

.consulting__form-input::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
}

.consulting__form-input::placeholder,
.consulting__form-input .form-input__text, .consulting__form-input, .sequence__item-text, .sequence__item, .services__info, .services__link, .services__item-link, .services__item-text, .about__list-item .list-item__text, .about__box-text, .main__text, .header .contacts-city__list, .header__btn, .header__contacts, .header__nav {
  font-size: 14px;
  font-weight: 400;
}

.consulting__form-btn, .btn_main {
  font-size: 16px;
  font-weight: 400;
}

.footer__sub-list, .consulting__form-input, .consulting__form-label, .sequence, .services__link, .about__list-item .list-item__heading, .about__box-info, .about__box-item, .main__cards-about .about__label, .main__cards-rate .rate__info-stars, .main__cards-rate .rate__info, .main__cards-rate, .header__burger .header__nav-details, .header__burger-nav, .header .contacts-social__list, .header .contacts-city__link, .header .contacts-city__label, .header .contacts-city, .header__logo, .header__heading, .header__nav-summary, .header__nav-list, .swiper .swiper-horizontal > .swiper-pagination-bullets,
.swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper .swiper-pagination-custom,
.swiper .swiper-pagination-fraction, .consulting__form-group .form-group__checkbox, .consulting__form-group .form-group__label, .consulting__form-group, .consulting__form-btn::after, .consulting__form-btn, .sequence__item-num, .main__btn-box, .main, .header .contacts-social__link, .header .contacts-phone__number, .header__contacts, .btn_light, .btn_main {
  display: flex;
  align-items: center;
}

.consulting__form-group .form-group__checkbox, .consulting__form-group .form-group__label, .consulting__form-group, .consulting__form-btn::after, .consulting__form-btn, .sequence__item-num, .main__btn-box, .main, .header .contacts-social__link, .header .contacts-phone__number, .header__contacts, .btn_light, .btn_main {
  justify-content: center;
}

.btn_main {
  min-height: 60px;
  padding: 19px 10px;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.center {
  max-width: 1420px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn_main {
  background-color: transparent;
  color: #191919;
  border-radius: 30px;
  border: 1px solid #737373;
  overflow: hidden;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
  z-index: 10;
  transition: 0.2s;
}
.btn_main .btn_bg {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 200%;
  height: 200%;
  top: 0;
  border-radius: 30px;
  opacity: 0;
  background-image: url(../img/bgBtn.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 150%;
  transition: all 0.2s ease-in-out;
}
.btn_main:hover {
  background-color: transparent;
  color: transparent;
  border-radius: 30px;
  border: 1px solid transparent;
  overflow: hidden;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 20px 0px rgba(54, 95, 239, 0.3);
}
.btn_main:hover::after {
  color: #fff;
  transform: scale(1);
}
.btn_main:hover .btn_bg {
  opacity: 1;
}
.btn_main:hover:active {
  box-shadow: none;
  color: #fff;
}
.btn_main:hover:active .btn_bg {
  background-position: left top;
}
.btn_main:hover:active::after {
  color: transparent;
  transform: scale(0.9);
}

.btn_light {
  background-color: transparent;
  color: #fff;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
  position: relative;
  transition: 0.2s;
  z-index: 10;
}
.btn_light:hover {
  background-color: #191919;
  color: #191919;
  border-radius: 30px;
  border: 1px solid transparent;
  overflow: hidden;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
  cursor: pointer;
}

details > summary {
  list-style: none;
}

details > summary::marker,
details > summary::-webkit-details-marker {
  display: none;
}

.swiper {
  display: flex;
  width: 100%;
  padding-bottom: 64px;
  position: relative;
}
.swiper .service-slider__wrap {
  height: auto;
}
.swiper .services__item {
  position: relative;
  overflow: hidden;
}
.swiper .services__item .bg {
  position: absolute;
  width: 300%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: -125%;
  background-image: url(../img/Rectangle\ 1292.jpg);
  background-size: cover;
  opacity: 0;
  transition: all 3s cubic-bezier(0.2, 0.6, 0, 1) !important;
}
.swiper .services__item .services__item-title, .swiper .services__item .services__item-text, .swiper .services__item .services__item-link, .swiper .services__item .services__item-price, .swiper .services__item .services__item-icon path {
  transition: cubic-bezier(0.2, 0.6, 0, 1) 0.5s !important;
}
.swiper .services__item.swiper-slide-active .bg {
  opacity: 1;
}
.swiper .services__item.swiper-slide-active .services__item-title, .swiper .services__item.swiper-slide-active .services__item-text, .swiper .services__item.swiper-slide-active .services__item-link, .swiper .services__item.swiper-slide-active .services__item-price, .swiper .services__item.swiper-slide-active .services__item-icon {
  color: #fff;
  fill: #fff;
}
.swiper .services__item.swiper-slide-active .services__item-price {
  background-color: transparent;
  border-radius: 30px;
  outline: 1px solid #fff;
}
.swiper-pagination-bullet {
  max-width: 36px;
  width: 5%;
  height: 20px;
  background: none;
  border-radius: 0;
  border-bottom: 1px solid #D3D3D3;
  transition: cubic-bezier(0.2, 0.6, 0.6, 1) 0.5s !important;
}
.swiper-pagination-bullet-active {
  max-width: 70px;
  width: 15%;
  border-bottom: 1px solid #4B4B4B;
}
.swiper .swiper-horizontal > .swiper-pagination-bullets,
.swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper .swiper-pagination-custom,
.swiper .swiper-pagination-fraction {
  bottom: 16px;
  height: 20px;
  justify-content: flex-end;
}
.swiper .swiper-button-next:after,
.swiper .swiper-rtl .swiper-button-prev:after,
.swiper .swiper-button-prev:after,
.swiper .swiper-rtl .swiper-button-next:after {
  display: none;
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  top: calc(100% - 6px);
  padding: 12px 15px;
  height: 24px;
  width: 60px;
  background-color: transparent;
  border-radius: 20px;
  border-radius: 20px;
  background: rgba(25, 25, 25, 0.05);
}
.swiper .swiper-button-next svg,
.swiper .swiper-button-prev svg {
  height: 8px;
  fill: #191919;
}
.swiper .swiper-button-next:hover,
.swiper .swiper-button-prev:hover {
  background: #365FEF;
}
.swiper .swiper-button-next:hover svg path,
.swiper .swiper-button-prev:hover svg path {
  fill: #fff;
}
.swiper .swiper-button-disabled {
  background: transparent;
}
.swiper .swiper-button-disabled svg {
  fill: #D3D3D3;
}
.swiper .swiper-button-prev,
.swiper .swiper-rtl .swiper-button-next {
  left: 0px;
}
.swiper .swiper-button-next,
.swiper .swiper-rtl .swiper-button-prev {
  left: 65px;
}

.header__nav {
  color: #4B4B4B;
}
.header__nav-list {
  justify-content: center;
  gap: 45px;
}
.header__nav-details {
  position: relative;
}
.header__nav-summary {
  padding: 20px 0;
  transition: color 0.3s ease-in;
}
.header__nav-summary .summary__icon {
  width: 4px;
  height: 3px;
  fill: #4B4B4B;
  margin-left: 4px;
  transition: transform 0.3s ease-in;
}
.header__nav-summary:hover {
  color: #365FEF;
  cursor: pointer;
}
.header__nav-summary:hover .summary__icon {
  fill: #365FEF;
}
.header__nav-sub {
  position: absolute;
  z-index: 101;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 273px;
  padding: 20px 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 20px 3px rgba(75, 75, 75, 0.15);
  background-color: #fff;
}
.header__nav-link {
  color: inherit;
  transition: color 0.2s ease-in;
}
.header__nav-link:hover {
  color: #365FEF;
}
.header__nav-details[open] .summary__icon {
  transform: rotate(-90deg);
}
.header__nav-details[open] .header__nav-sub {
  top: 46px;
  left: -25px;
}
.header__nav-details[open] .header__nav-summary {
  color: #365FEF;
}
.header__heading {
  position: relative;
  z-index: 100;
  justify-content: space-between;
  padding: 21px 20px;
  border-radius: 50px;
  background: linear-gradient(270deg, #312B2D 13.02%, rgba(49, 43, 45, 0.87) 34.54%, #312B2D 55.18%, rgba(49, 43, 45, 0.85) 79.33%, #312B2D 97.33%);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #fff;
}
.header__logo {
  font-size: 24px;
  font-weight: 600;
  gap: 8px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-transform: lowercase;
  transition: color 0.3s ease-in;
}
.header__logo .logo__img {
  fill: #fff;
  width: 30px;
  height: 29px;
  transition: fill 0.3s ease-in;
}
.header__logo:hover {
  color: #365FEF;
}
.header__logo:hover .logo__img {
  fill: #365FEF;
}
.header__contacts {
  gap: 45px;
}
.header__btn {
  position: relative;
  padding: 14px 20px;
}
.header__btn:hover {
  cursor: pointer;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.3);
}
.header__btn:hover::after {
  color: #4B4B4B;
  transform: scale(1);
}
.header__btn:hover .btn_bg {
  opacity: 1;
}
.header__btn .btn_bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-image: url(../img/bgBtn.svg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.header__btn:active {
  box-shadow: none;
}
.header .contacts-city {
  position: relative;
}
.header .contacts-city__icon {
  width: 16px;
  height: 16px;
  fill: #fff;
  margin-right: 5px;
}
.header .contacts-city__label {
  padding: 5px 10px;
  border-radius: 20px;
}
.header .contacts-city__label:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
}
.header .contacts-city__input {
  display: none;
}
.header .contacts-city__box {
  display: none;
  position: absolute;
  top: 45px;
  left: -20px;
  width: 746px;
  height: 511px;
  padding: 35px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 20px 3px rgba(75, 75, 75, 0.15);
  overflow: hidden;
  z-index: 1;
}
.header .contacts-city__title {
  font-size: 20px;
  font-weight: 600;
  color: #191919;
  margin-bottom: 15px;
}
.header .contacts-city__text {
  font-size: 13px;
  font-weight: 400;
  color: #737373;
}
.header .contacts-city__list {
  overflow-x: scroll;
  height: 363px;
  width: 100%;
  padding: 24px 0 29px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  color: #4B4B4B;
  scrollbar-width: thin;
  scrollbar-color: #365FEF rgba(77, 67, 244, 0.1);
}
.header .contacts-city__list::-webkit-scrollbar {
  height: 4px;
  /* ширина всей полосы прокрутки */
}
.header .contacts-city__list::-webkit-scrollbar-thumb {
  background-color: #365FEF;
  border-radius: 20px;
}
.header .contacts-city__list::-webkit-scrollbar-track {
  background: rgba(77, 67, 244, 0.1);
  /* цвет зоны отслеживания */
}
.header .contacts-city__item {
  width: 25%;
}
.header .contacts-city__link {
  color: #4B4B4B;
  text-decoration: underline;
  padding: 5.8px 0;
}
.header .contacts-city__link .contacts-city__icon {
  fill: #4B4B4B;
}
.header .contacts-city__input:checked ~ .contacts-city__label {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
.header .contacts-city__input:checked ~ .contacts-city__box {
  display: block;
}
.header .contacts-phone__icon {
  width: 16px;
  height: 16px;
  fill: #fff;
  margin-right: 5px;
}
.header .contacts-phone span {
  display: block;
  font-size: 13px;
  opacity: 0.47;
}
.header .contacts-social__list {
  gap: 20px;
}
.header .contacts-social__icon {
  height: 18px;
  width: 18px;
  fill: rgba(49, 43, 45, 0.87);
  transition: fill 0.2s ease-in;
}
.header .contacts-social__item {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: 50%;
  transition: box-shadow 0.2s ease-in;
  background-color: #fff;
}
.header .contacts-social__item:hover.social-item_avito {
  box-shadow: 4px 4px 20px 0px rgba(147, 201, 37, 0.3), -2px 2px 20px 0px rgba(157, 102, 240, 0.3), 2px -2px 20px 0px rgba(248, 94, 96, 0.3), -4px -4px 20px 0px rgba(0, 165, 248, 0.3);
}
.header .contacts-social__item:hover.social-item_avito .contacts-social__icon {
  --avito-1: #00A5F8;
  --avito-2: #F85E60;
  --avito-3: #9D66F0;
  --avito-4: #93C925;
}
.header .contacts-social__item:hover.social-item_telegram {
  box-shadow: 0px 0px 20px 4px rgba(42, 171, 238, 0.3);
}
.header .contacts-social__item:hover.social-item_telegram .contacts-social__icon {
  fill: #2AABEE;
}
.header .contacts-social__item:hover.social-item_whatsapp {
  box-shadow: 0px 0px 20px 4px rgba(37, 211, 102, 0.3);
}
.header .contacts-social__item:hover.social-item_whatsapp .contacts-social__icon {
  fill: #25D366;
}
.header .contacts-social__item.social-item_whatsapp:active, .header .contacts-social__item.social-item_telegram:active, .header .contacts-social__item.social-item_avito:active {
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.header .contacts-social__link {
  height: 100%;
  width: 100%;
}
.header__burger {
  display: none;
}
.header__burger #burger {
  display: none;
}
.header__burger .burger__img {
  width: 38px;
  height: 38px;
  stroke: #fff;
}
.header__burger .burger__label:hover {
  cursor: pointer;
}
.header__burger .burger__label:hover .burger__img {
  stroke: #365FEF;
}
.header__burger .burger-nav__header {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}
.header__burger .close__icon {
  width: 32px;
  height: 32px;
  stroke: #fff;
}
.header__burger .close__icon:hover {
  cursor: pointer;
  stroke: #365FEF;
}
.header__burger-nav {
  position: absolute;
  opacity: 0;
  top: -1000px;
  left: -16px;
  flex-direction: column;
  padding: 28px;
  padding-bottom: 36px;
  width: 100vw;
  background: #191919;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 10000;
  transition: opacity 0.3s ease-in-out;
}
.header__burger .header__nav-details {
  flex-direction: column;
  z-index: 0;
}
.header__burger .header__nav-list {
  flex-direction: column;
  gap: 25px;
}
.header__burger .header__nav-summary {
  padding: 0;
  justify-content: center;
}
.header__burger .header__nav-sub {
  position: inherit;
  max-width: 300px;
  margin: 15px auto 0;
  padding: 15px 38px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
}
.header__burger .header__nav-sub .header__nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.main {
  padding: 87px 0 46px;
  flex-direction: column;
}
.main__title-sub {
  padding: 10px;
  border-radius: 30px;
  background: rgba(231, 235, 254, 0.2);
  font-size: 13px;
  font-weight: 400;
  line-height: 138.682%;
  color: #365FEF;
}
.main__title {
  font-size: 48px;
  font-weight: 600;
  position: relative;
  text-align: center;
  max-width: 1080px;
  margin-bottom: 25px;
  color: #191919;
}
.main__title .title_underline {
  position: relative;
}
.main__title .title_underline::after {
  content: "";
  width: 232px;
  height: 30px;
  display: block;
  position: absolute;
  z-index: -1;
  bottom: -9px;
  right: 0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='232' height='30' viewBox='0 0 232 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M174.909 0.120112C142.292 0.461154 132.966 0.683009 114.869 1.54904C96.1143 2.44652 82.6926 3.34615 61.3966 5.13321C56.4598 5.54749 51.1737 5.94065 44.9766 6.35436C22.2122 7.87404 17.7823 8.27899 10.4231 9.51248C6.7769 10.1238 3.62354 10.5468 1.85618 10.6621C0.284852 10.7645 0 10.829 0 11.0821C0 11.3059 2.51312 11.5019 3.88769 11.3853C4.38029 11.3436 5.71488 11.2415 6.85358 11.1587C7.99227 11.0757 10.4981 10.853 12.4221 10.6637C16.9528 10.2178 19.128 10.0772 26.9146 9.72701C40.0045 9.13826 49.8929 8.57249 62.0392 7.71737C66.5154 7.40218 72.4587 6.98375 75.2466 6.78745C96.3904 5.2985 122.218 3.9708 138 3.56169C157.151 3.06499 216.606 2.62587 215.602 2.98831C215.204 3.13205 208.401 4.20113 204.322 4.76087C200.576 5.27509 194.317 6.01676 186.617 6.85881C182.966 7.2583 177.954 7.81115 175.48 8.08743C166.187 9.12549 163.126 9.44743 157.846 9.94269C133.523 12.224 117.456 14.212 95.0934 17.7068C81.801 19.7841 70.906 22.1688 58.7474 25.6624C51.8347 27.6486 51.1612 28.0014 51.8416 29.2801C52.2844 30.1121 55.7723 30.22 62.8072 29.619C75.6635 28.5209 87.7448 27.6693 99.4483 27.036C106.789 26.6388 107.762 26.5722 115.226 25.9556C118.014 25.7254 122.833 25.3888 125.934 25.2079L131.574 24.8789L124.078 24.7492C112.719 24.5527 100.534 24.5646 96.5212 24.7762C83.2356 25.477 76.0093 26.0163 64.2059 27.1879C61.3925 27.4672 59.019 27.6717 58.9313 27.6424C58.0861 27.359 77.0058 23.076 86.0315 21.5077C106.406 17.967 127.388 15.3253 159.631 12.2405C162.576 11.9588 168.487 11.3425 172.767 10.871C177.047 10.3995 183.794 9.65708 187.759 9.22098C203.024 7.54276 207.572 6.91769 222.242 4.48157C231.637 2.92125 231.687 2.9079 231.943 1.88176C232.225 0.753517 231.472 0.241598 229.316 0.0952733C227.267 -0.0438718 188.913 -0.0263568 174.909 0.120112ZM132.183 24.765C132.361 24.7993 132.618 24.7981 132.754 24.7622C132.891 24.7263 132.745 24.6981 132.431 24.6997C132.117 24.7013 132.005 24.7307 132.183 24.765Z' fill='%2357D34C'/%3e%3c/svg%3e ");
}
.main__text {
  margin-bottom: 50px;
  max-width: 692px;
  text-align: center;
  color: #858585;
  line-height: 145.182%;
}
.main__btn-box {
  gap: 13px;
  flex-wrap: wrap;
  margin-bottom: 46px;
}
.main__btn {
  width: 210px;
}
.main__cards-box {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: minmax(16%, 271px) minmax(14%, 249px) minmax(18%, 332px) minmax(14%, 249px) minmax(16%, 271px);
  -moz-column-gap: 12px;
       column-gap: 12px;
  width: 100%;
  grid-template-rows: repeat(5, 83px);
}
.main__cards {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}
.main__cards_item1 {
  grid-row: span 5;
  grid-column: span 1;
  border-radius: 35px 35px 0 0;
}
.main__cards_item1 .main__cards-img {
  aspect-ratio: 0.65/1;
}
.main__cards_item2 {
  grid-row: 2/6;
  grid-column: 2/3;
}
.main__cards_item2 .main__cards-img {
  aspect-ratio: 0.75/1;
}
.main__cards_item3 {
  grid-row: 3/6;
  grid-column: 3/4;
}
.main__cards_item3 .main__cards-img {
  height: 100%;
  aspect-ratio: 1/0.77;
}
.main__cards_item6 {
  grid-row: 2/3;
  grid-column: 3/4;
  padding: 22px 0 15px;
  justify-content: center;
}
.main__cards-rate {
  gap: 7px;
}
.main__cards-rate .rate__img-box {
  display: flex;
  flex-wrap: nowrap;
}
.main__cards-rate .rate__img {
  max-width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #fff;
  aspect-ratio: auto;
}
.main__cards-rate .rate__img:not(:first-child) {
  margin-left: -18px;
}
.main__cards-rate .rate__info {
  flex-wrap: wrap;
  color: #15151A;
}
.main__cards-rate .rate__info-star {
  width: 19px;
  height: 18px;
  fill: #fff;
  stroke: #F2D054;
  --star_fill: #fff;
}
.main__cards-rate .rate__info-star.star_fill {
  --star_fill: #F2D054;
}
.main__cards-rate .rate__info-value {
  font-size: 12px;
  font-weight: 600;
  margin-left: 5px;
}
.main__cards-rate .rate__info-text {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: -0.5px;
}
.main__cards-rate .rate__info-text_bold {
  font-weight: 600;
}
.main__cards-img {
  width: 100%;
}
.main__cards_item4 {
  grid-row: 2/6;
  grid-column: 4/5;
}
.main__cards-about {
  position: relative;
  border-radius: 15px 15px 0 0;
  padding: 16px 16px 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main__cards-about:first-child {
  background-color: #E7EDFE;
  bottom: -48px;
}
.main__cards-about:nth-child(2) {
  background-color: #365FEF;
  bottom: -32px;
}
.main__cards-about:nth-child(3) {
  background-color: #6E9DF7;
  bottom: -16px;
}
.main__cards-about:last-child {
  bottom: 0;
  padding-bottom: 16px;
  background: linear-gradient(273deg, #312B2D -8.26%, #484646 23%, #312B2D 81.24%, #312B2D 114.22%);
  border-radius: 15px;
}
.main__cards-about .about__label {
  justify-content: space-between;
  max-height: 49px;
}
.main__cards-about .about__label:after {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.4688 6.90625H8.09375V4.53125C8.09375 4.37378 8.03119 4.22276 7.91984 4.11141C7.80849 4.00006 7.65747 3.9375 7.5 3.9375C7.34253 3.9375 7.19151 4.00006 7.08016 4.11141C6.96881 4.22276 6.90625 4.37378 6.90625 4.53125V6.90625H4.53125C4.37378 6.90625 4.22276 6.96881 4.11141 7.08016C4.00006 7.19151 3.9375 7.34253 3.9375 7.5C3.9375 7.65747 4.00006 7.80849 4.11141 7.91984C4.22276 8.03119 4.37378 8.09375 4.53125 8.09375H6.90625V10.4688C6.90625 10.6262 6.96881 10.7772 7.08016 10.8886C7.19151 10.9999 7.34253 11.0625 7.5 11.0625C7.65747 11.0625 7.80849 10.9999 7.91984 10.8886C8.03119 10.7772 8.09375 10.6262 8.09375 10.4688V8.09375H10.4688C10.6262 8.09375 10.7772 8.03119 10.8886 7.91984C10.9999 7.80849 11.0625 7.65747 11.0625 7.5C11.0625 7.34253 10.9999 7.19151 10.8886 7.08016C10.7772 6.96881 10.6262 6.90625 10.4688 6.90625Z' fill='%23737373'/%3e%3c/svg%3e ");
  height: 19px;
  aspect-ratio: 1/1;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}
.main__cards-about .about__label:hover {
  cursor: pointer;
}
.main__cards-about .about__title {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
}
.main__cards-about .about__text {
  font-size: 12px;
  font-weight: 400;
}
.main__cards-about .about__input[type=radio] {
  display: none;
}
.main__cards-about .about__input[type=radio] ~ .about__text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-out;
}
.main__cards-about .about__input[type=radio]:checked {
  height: 100%;
}
.main__cards-about .about__input[type=radio]:checked ~ .about__text {
  max-height: 183px;
  padding: 10px 0 8px;
  line-height: 130.182%;
}
.main__cards-about .about__input[type=radio]:checked ~ .about__label .about__title {
  font-size: 15px;
  font-weight: 600;
  margin-top: 4px;
  max-height: 67px;
}
.main__cards-about .about__input[type=radio]:checked ~ .about__label::after {
  opacity: 0;
}
.main__cards-about .services__link {
  margin-top: 13px;
  font-size: 12px;
}
.main__cards-about .services__link-icon {
  width: 15px;
  height: 16px;
  fill: none;
  stroke: #365FEF;
}
.main__cards-about:not(:first-child) .about__text, .main__cards-about:not(:first-child) .services__link, .main__cards-about:not(:first-child) .about__title {
  color: #fff;
}
.main__cards-about:not(:first-child) .services__link-icon {
  stroke: #fff;
}
.main__cards-about:not(:first-child) .services__link:hover {
  text-decoration: underline;
}
.main__cards_item5 {
  grid-row: 1/6;
  grid-column: 5/6;
}
.main__cards_item5 .main__cards-img {
  aspect-ratio: 0.65/1;
}
.main__cards:hover {
  transform: scale(1.03);
}

.about {
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-between;
}
.about__left {
  width: 47%;
  position: relative;
}
.about__left-box {
  position: sticky;
  top: 0;
}
.about__title {
  margin-bottom: 48px;
}
.about__box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about__box-item {
  gap: 10px;
  max-width: 427px;
}
.about__box-info {
  padding: 28px 25px;
  border-radius: 13px;
  background-color: #F8F8F8;
}
.about__box-title {
  min-width: 100px;
  font-size: 32px;
  margin-right: 10px;
  font-weight: 600;
  background: linear-gradient(90deg, #15151A 17.55%, rgba(21, 21, 26, 0.6) 42.57%, rgba(21, 21, 26, 0.76) 60.08%, rgba(21, 21, 26, 0.8) 95.52%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about__box-text {
  color: #737373;
  letter-spacing: -0.5px;
}
.about__box-img {
  min-width: 100px;
  height: 100px;
  border-radius: 13px;
}
.about__box-item:first-child {
  align-self: flex-start;
}
.about__box-item:first-child .about__box-title {
  min-width: auto;
}
.about__box-item:first-child .about__box-img {
  background-image: url("../img/about1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about__box-item:nth-child(2) {
  align-self: center;
}
.about__box-item:nth-child(2) .about__box-info {
  background-image: url("../img/aboutBG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about__box-item:nth-child(2) .about__box-title {
  background: none;
  -webkit-text-fill-color: #fff;
}
.about__box-item:nth-child(2) .about__box-text {
  color: #fff;
}
.about__box-item:last-child {
  align-self: flex-end;
}
.about__box-item:last-child .about__box-img {
  background-image: url("../img/about2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about__right {
  width: 47%;
  padding-top: 12px;
}
.about__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about__list-item {
  padding-bottom: 25px;
  border-bottom: 1px solid #EFEFEF;
  transition: transform 0.3s ease-in-out;
}
.about__list-item:hover {
  transform: scale(1.05);
}
.about__list-item .list-item__heading {
  margin-bottom: 15px;
}
.about__list-item .list-item__icon {
  width: 50px;
  aspect-ratio: 1/1;
  margin-right: 15px;
  border-radius: 12px;
}
.about__list-item .list-item__text {
  color: #737373;
}

.services__title {
  margin-bottom: 50px;
}
.services-main {
  margin-bottom: 150px;
}
.services-main__content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.services__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 430px;
  width: calc((100% - 60px) / 4);
  padding: 30px;
  background: rgb(231, 237, 254);
  border: 1px solid #FCFCFC;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}
.services__item:nth-child(odd) {
  background: linear-gradient(166deg, rgba(54, 95, 239, 0.1) 0%, rgb(252, 252, 252) 100%);
}
.services__item:nth-child(even) {
  background: linear-gradient(346deg, rgba(54, 95, 239, 0.1) 0%, rgb(252, 252, 252) 100%);
}
.services__item-content {
  margin-bottom: 20px;
}
.services__item-price {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 25px;
  background-color: #fff;
  border-radius: 30px;
}
.services__item-title {
  margin-bottom: 25px;
}
.services__item-text {
  color: #737373;
  margin-bottom: 15px;
}
.services__item-link {
  color: #737373;
  text-decoration: underline;
}
.services__item-icon {
  width: 27px;
  height: 27px;
  fill: #374957;
}
.services__link {
  color: #365FEF;
}
.services__link-icon {
  width: 15px;
  height: 16px;
  margin-left: 5px;
  stroke: #365FEF;
  fill: none;
}
.services-extra {
  margin-bottom: 150px;
}
.services-extra__content {
  display: flex;
  gap: 20px;
}
.services__info {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #858585;
}
.services__info .services__text {
  margin-bottom: 30px;
}
.services__info .services__link {
  padding: 10px 12px;
  border: 1px solid #365FEF;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}
.services__info .services__link:hover {
  background-color: #365FEF;
  color: #fff;
}
.services__info .services__link:hover .services__link-icon {
  stroke: #fff;
}
.services__slider {
  width: 75%;
}

.sequence {
  flex-direction: column;
}
.sequence__title {
  margin-bottom: 25px;
  text-align: center;
}
.sequence__text {
  font-size: 13px;
  font-weight: 400;
  max-width: 638px;
  text-align: center;
  color: #858585;
}
.sequence__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 50px 0 150px;
}
.sequence__item {
  display: flex;
  align-items: flex-end;
  position: relative;
  min-height: 320px;
  width: 340px;
  padding: 40px 29px 40px 40px;
  flex-shrink: 1;
  border-radius: 15px;
  overflow: hidden;
}
.sequence__item-info {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 15px;
}
.sequence__item-num {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-weight: 600;
  background-color: #365FEF;
  filter: drop-shadow(0px 4px 10px rgba(54, 95, 239, 0.25));
}
.sequence__item-title {
  font-weight: 600;
}
.sequence__item-text {
  color: #737373;
}
.sequence__item.item1, .sequence__item.item4, .sequence__item.item5 {
  flex-shrink: 2;
  width: calc(100% - 340px - 20px);
}
.sequence__item.item1 .sequence__item-num, .sequence__item.item4 .sequence__item-num, .sequence__item.item5 .sequence__item-num {
  box-shadow: 0px 8px 10px 1px rgba(255, 255, 255, 0.3) inset;
}
.sequence__item.item1 {
  background: url(../img/sequence1.png) 100%/auto no-repeat, url(../img/sequence1-2.jpg) center/cover no-repeat;
}
.sequence__item.item2 {
  background: url(../img/sequence2.png) top 0px right -5%/auto no-repeat, url(../img/sequence2-2.jpg) center/cover no-repeat;
}
.sequence__item.item3 {
  background: url(../img/sequence3.png) top center/auto no-repeat, linear-gradient(252deg, #312B2D -17.18%, rgba(49, 43, 45, 0.87) 9.31%, #312B2D 34.73%, rgba(49, 43, 45, 0.85) 64.47%, #312B2D 86.64%);
}
.sequence__item.item3 .sequence__item-num {
  color: #191919;
}
.sequence__item.item4 {
  background: url(../img/sequence4.png) 90%/auto no-repeat, url(../img/sequence4-2.jpg) center/cover no-repeat;
}
.sequence__item.item5 {
  background: url(../img/sequence5.png), url(../img/sequence5-2.jpg);
  background-repeat: no-repeat;
  background-position: top 0px right 7%;
}
.sequence__item.item6 {
  background: url(../img/sequence6.png) top 0px right -26px/auto no-repeat, url(../img/sequence2-2.jpg) center/cover no-repeat;
}
.sequence__item.item2 .sequence__item-num, .sequence__item.item6 .sequence__item-num {
  color: #365FEF;
}
.sequence__item.item2 .sequence__item-num, .sequence__item.item3 .sequence__item-num, .sequence__item.item6 .sequence__item-num {
  background-color: #fff;
  filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.15));
}
.sequence__item.item2 .sequence__item-title,
.sequence__item.item2 .sequence__item-text, .sequence__item.item3 .sequence__item-title,
.sequence__item.item3 .sequence__item-text, .sequence__item.item6 .sequence__item-title,
.sequence__item.item6 .sequence__item-text {
  color: #fff;
}

.consulting {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 78px 90px;
  margin-bottom: 20px;
  background: #365FEF;
  background: url(../img/mockup.png) right bottom/contain no-repeat, url(../img/consultingBG.jpg) center/cover no-repeat;
  border-radius: 15px;
  text-align: center;
  color: #fff;
}
.consulting::after {
  content: "";
  display: block;
  height: 100%;
}
.consulting__info {
  width: 43%;
}
.consulting__title {
  color: #fff;
  margin-bottom: 20px;
}
.consulting__text {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 35px;
  opacity: 0.7;
}
.consulting__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.consulting__form-box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.consulting__form-label {
  position: relative;
  flex-grow: 1;
  flex-basis: calc(50% - 15px);
}
.consulting__form .input__icon,
.consulting__form .resize__icon {
  position: absolute;
  width: 19px;
  height: 19px;
}
.consulting__form .input__icon {
  left: 20px;
  fill: none;
  stroke: #fff;
  stroke-opacity: 0.8;
}
.consulting__form-input {
  line-height: 135.023%;
  width: 100%;
  min-height: 59px;
  padding: 20px;
  padding-left: 46px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  outline: none;
  color: #fff;
  text-align: left;
  box-sizing: border-box;
}
.consulting__form-input::-moz-placeholder {
  font-family: "Open sans";
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}
.consulting__form-input::placeholder,
.consulting__form-input .form-input__text {
  font-family: "Open sans";
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}
.consulting__form-input:focus, .consulting__form-input:focus-visible, .consulting__form-input:focus-within {
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.consulting__form-input:focus::-moz-placeholder, .consulting__form-input:focus-visible::-moz-placeholder, .consulting__form-input:focus-within::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.consulting__form-input:focus::placeholder, .consulting__form-input:focus-visible::placeholder, .consulting__form-input:focus-within::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.consulting__form #clientFile {
  display: none;
}
.consulting__form #clientFile:hover ~ .consulting__form-input {
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.consulting__form #clientQuestion {
  padding-right: 46px;
  resize: vertical;
  height: 59px;
  max-height: 250px;
  overflow: hidden;
}
.consulting__form #clientQuestion ~ .input__icon {
  stroke: none;
}
.consulting__form-btn {
  position: relative;
  padding: 19px 10px;
  height: 60px;
  color: #365FEF;
  border-radius: 30px;
  border: none;
  background: #fff;
  box-shadow: 0px 4px 20px 3px rgba(255, 255, 255, 0.1);
  transition: 0.2s;
}
.consulting__form-btn::after {
  content: attr(data-title);
  position: absolute;
  text-align: center;
  color: transparent;
  font-weight: 600;
  transition: 0.2s;
  transform: scale(0.9);
  transform-origin: center center;
}
.consulting__form-btn:hover {
  cursor: pointer;
  box-shadow: 0px 4px 20px 3px rgba(255, 255, 255, 0.3);
  color: transparent;
}
.consulting__form-btn:hover::after {
  color: #365FEF;
  transform: scale(1);
}
.consulting__form-btn:disabled {
  background: #254BD0;
  box-shadow: none;
  color: #87A0F9;
}
.consulting__form-btn:disabled:hover::after {
  color: transparent;
}
.consulting__form-group {
  flex-wrap: wrap;
  padding: 15px 0 25px;
  margin-bottom: 25px;
  border: none;
  gap: 32px;
}
.consulting__form-group .form-group__title {
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  margin-bottom: -13px;
}
.consulting__form-group .form-group__input[type=checkbox] {
  display: none;
}
.consulting__form-group .form-group__input[type=checkbox]:checked + .form-group__label {
  background: #fff;
  box-shadow: 0px 4px 20px 5px rgba(255, 255, 255, 0.15);
}
.consulting__form-group .form-group__input[type=checkbox][id=mobile] + .form-group__label .form-group__checkbox {
  background-color: #E9B653;
}
.consulting__form-group .form-group__input[type=checkbox][id=mobile] + .form-group__label .form-group__checkbox .form-group__icon {
  fill: none;
  stroke: #fff;
}
.consulting__form-group .form-group__input[type=checkbox][id=whatsapp] + .form-group__label .form-group__checkbox {
  background-color: #66C109;
}
.consulting__form-group .form-group__input[type=checkbox][id=telegram] + .form-group__label .form-group__checkbox {
  background-color: #0088CC;
}
.consulting__form-group .form-group__input[type=checkbox][id=viber] + .form-group__label .form-group__checkbox {
  background-color: #7F4DA0;
}
.consulting__form-group .form-group__label {
  font-size: 13px;
  font-weight: 400;
  position: relative;
  line-height: 135.023%;
  flex-direction: column;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
}
.consulting__form-group .form-group__label::after {
  content: attr(data-title);
  position: absolute;
  bottom: -23px;
}
.consulting__form-group .form-group__label:hover {
  cursor: pointer;
}
.consulting__form-group .form-group__checkbox {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.consulting__form-group .form-group__icon {
  width: 18px;
  height: 18px;
  fill: #fff;
}

.footer__main {
  padding: 100px 86px 29px 50px;
  background-color: #191919;
  border-radius: 15px;
}
.footer__sub {
  padding: 20px 0;
}
.footer__sub-list {
  flex-wrap: wrap;
  gap: 15%;
}
.footer__sub-item, .footer__sub-link {
  font-size: 13px;
  font-weight: 400;
  color: #4B4B4B;
}

@media (max-width: 1080px) {
  .center {
    max-width: 1080px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__nav, .header__contacts, .header__btn {
    display: none;
  }
  .header__heading {
    padding: 13px 12px 12px;
    margin-top: 10px;
  }
  .header__burger {
    display: block;
  }
  #burger:checked ~ .header__burger-nav {
    opacity: 1;
    top: -10px;
  }
  #burger:checked ~ .header__burger-nav .header__nav-list {
    flex-direction: column;
    margin: 45px 0 50px;
  }
  #burger:checked ~ .header__burger-nav .header__nav-item {
    width: 100%;
    text-align: center;
  }
  .header__burger .contacts-city__box {
    width: 100vw;
    left: calc(-50vw + 50%);
  }
  .header__burger .contacts-social {
    margin: 25px 0;
  }
  .header__burger .header__btn {
    display: flex;
    width: 100%;
    max-width: 343px;
  }
  .main__cards-box {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .main__cards_item2 {
    grid-row: 3/6;
  }
  .main__cards_item2 .main__cards-img {
    height: 100%;
  }
  .main__cards_item6 {
    grid-column: 2/4;
  }
  .main__cards_item3 {
    display: none;
  }
  .main__cards_item4 {
    grid-row: 1/6;
  }
  .main__cards_item5 {
    grid-column: 3/4;
    grid-row: 3/6;
  }
  .main__cards_item5 .main__cards-img {
    height: 100%;
  }
  .services-main__content {
    gap: 10px;
  }
  .services__item {
    width: calc((100% - 30px) / 4);
  }
  .services__info {
    width: 33%;
  }
  .services__slider {
    width: 67%;
  }
  .consulting {
    background: url(../img/consultingBG.jpg) center/cover no-repeat;
  }
  .consulting__info {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .center {
    min-width: 343px;
  }
  .main {
    padding: 42px 0 0;
    text-align: center;
  }
  .main__title-sub {
    font-size: 12px;
  }
  .main__title {
    font-size: 36px;
    margin-bottom: 40px;
  }
  .main__text {
    font-size: 12px;
    margin-bottom: 32px;
  }
  .main__btn-box {
    margin-bottom: 50px;
  }
  .main__cards-box {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(6, 49px);
  }
  .main__cards_item1 {
    display: none;
  }
  .main__cards_item5 {
    grid-row: 1/7;
    grid-column: 1/2;
  }
  .main__cards_item4 {
    grid-row: 3/7;
    grid-column: 2/4;
  }
  .main__cards_item2 {
    display: none;
  }
  .main__cards_item6 {
    grid-row: 10/11;
    grid-column: span 2;
  }
  .main__cards-about {
    text-align: start;
  }
  .main__cards-about .about__title {
    text-align: start;
  }
  .about {
    padding: 120px 0;
    flex-direction: column;
  }
  .about__left, .about__right {
    width: 100%;
  }
  .about__title {
    font-size: 32px;
    text-align: center;
  }
  .about__box-info {
    padding: 21px 10px;
  }
  .about__box-item {
    width: 100%;
    align-items: stretch;
  }
  .about__box-item:nth-child(2n) .about__box-info {
    padding: 28px 22px;
  }
  .about__box-title {
    font-size: 24px;
  }
  .about__box-text {
    font-size: 12px;
  }
  .about__box-img {
    flex-shrink: 0;
  }
  .about__right {
    padding-top: 50px;
  }
  .services__title {
    text-align: center;
    font-size: 32px;
  }
  .services-main {
    margin-bottom: 120px;
  }
  .services-main__content {
    justify-content: center;
  }
  .services__item {
    width: calc(50% - 10px);
    min-width: 343px;
  }
  .services__info {
    width: 100%;
    align-items: center;
  }
  .services__text {
    text-align: center;
  }
  .services__slider {
    width: 100%;
  }
  .services-extra {
    margin-bottom: 120px;
  }
  .services-extra__content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  .services-extra .swiper .services__item {
    max-width: calc(50vw - 10px) !important;
  }
  .services-extra .swiper-button-next, .services-extra .swiper-button-prev {
    display: none;
  }
  .services-extra .swiper .swiper-horizontal > .swiper-pagination-bullets,
  .services-extra .swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
  .services-extra .swiper .swiper-pagination-custom,
  .services-extra .swiper .swiper-pagination-fraction {
    justify-content: center;
  }
  .sequence__title {
    margin-bottom: 30px;
    font-size: 32px;
  }
  .sequence__item {
    flex-grow: 1;
    flex-basis: calc((100% - 20px) / 2);
    min-width: 343px;
  }
  .sequence__item.item1, .sequence__item.item4, .sequence__item.item5 {
    flex-shrink: 1;
  }
  .consulting {
    border-radius: 0;
    padding: 70px 16px;
    margin: 0 -16px 20px;
  }
  .consulting__title {
    font-size: 32px;
  }
}
@media (max-width: 737px) {
  .main {
    padding: 42px 0 0;
    text-align: center;
  }
  .main__title-sub {
    font-size: 12px;
  }
  .main__title {
    font-size: 36px;
    margin-bottom: 40px;
  }
  .main__text {
    font-size: 12px;
    margin-bottom: 32px;
  }
  .main__btn-box {
    margin-bottom: 0;
  }
  .main__btn:first-child {
    display: none;
  }
  .main__cards-box {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(49px, 1fr));
    row-gap: 20px;
  }
  .main__cards_item1, .main__cards_item2, .main__cards_item5 {
    display: none;
  }
  .main__cards_item4 {
    grid-row: 1/8;
    grid-column: span 1;
  }
  .main__cards_item6 {
    grid-row: span 1;
    grid-column: span 1;
  }
  .services__slider {
    max-width: 343px;
    width: 100%;
  }
  .services-extra .swiper .services__item {
    max-width: 100% !important;
  }
  .services-extra .swiper .services__item.swiper-slide-active .bg {
    opacity: 0;
  }
  .services-extra .swiper .services__item.swiper-slide-active .services__item-title {
    color: #191919;
  }
  .services-extra .swiper .services__item.swiper-slide-active .services__item-price {
    color: #4B4B4B;
  }
  .services-extra .swiper .services__item.swiper-slide-active .services__item-icon {
    fill: #374957;
  }
  .services-extra .swiper .services__item.swiper-slide-active .services__item-text, .services-extra .swiper .services__item.swiper-slide-active .services__item-link {
    color: #737373;
  }
  .services-extra .swiper .services__item.swiper-slide-active .services__item-price {
    background-color: #fff;
    border-radius: 30px;
    outline: none;
  }
  .consulting__form-label {
    flex-basis: 100%;
    width: 100%;
  }
  .footer__main {
    padding: 50px 22px;
  }
  .footer__sub {
    padding: 50px 0 28px;
  }
  .footer__sub-list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}/*# sourceMappingURL=style.css.map */