@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@400;600&display=swap");
.header__logo, .btn_main, .services__info, .services__link, .services__item-link, .services__item-text, .about__list-item .list-item__text, .about__box-text, .header__btn, .header__contacts .contacts-city__list, .header__contacts, .header__nav, .services__item-title, .about__list-item .about__list-title, .services__title, .about__title {
  font-style: normal;
  line-height: normal;
}

.services__title, .about__title {
  font-size: 36px;
  font-weight: 600;
  color: #191919;
}

.services__item-title, .about__list-item .about__list-title {
  font-size: 20px;
  font-weight: 400;
  color: #191919;
}

.services__info, .services__link, .services__item-link, .services__item-text, .about__list-item .list-item__text, .about__box-text, .header__btn, .header__contacts .contacts-city__list, .header__contacts, .header__nav {
  font-size: 14px;
  font-weight: 400;
}

.btn_main {
  font-size: 16px;
  font-weight: 400;
}

.services__link, .about__list-item .list-item__heading, .about__box-info, .about__box-item, .main__cards-about .about__label, .main__cards-rate, .header__contacts .contacts-social__list, .header__contacts .contacts-city__link, .header__contacts .contacts-city__label, .header__contacts .contacts-city, .header__logo, .header__heading, .header__nav-summary, .header__nav-list, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction, .about__list-item .list-item__icon, .main__btn-box, .main, .header__contacts .contacts-social__link, .header__contacts .contacts-phone__number, .header__contacts {
  display: flex;
  align-items: center;
}

.about__list-item .list-item__icon, .main__btn-box, .main, .header__contacts .contacts-social__link, .header__contacts .contacts-phone__number, .header__contacts {
  justify-content: center;
}

.btn_main {
  min-height: 60px;
  padding: 19px 10px;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.center {
  max-width: 1420px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn_main {
  background-color: transparent;
  color: #191919;
  border-radius: 30px;
  border: 1px solid #737373;
  overflow: hidden;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
  z-index: 10;
}
.btn_main .btn_bg {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 200%;
  height: 200%;
  top: 0;
  border-radius: 30px;
  opacity: 0;
  background-image: url(../img/bgBtn.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 150%;
  box-shadow: 0px 4px 20px 0px rgba(54, 95, 239, 0.3);
  transition: all 0.3s ease-in-out;
}
.btn_main:hover {
  background-color: transparent;
  color: #fff;
  border-radius: 30px;
  border: 1px solid transparent;
  overflow: hidden;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 20px 0px rgba(54, 95, 239, 0.3);
}
.btn_main:hover .btn_bg {
  opacity: 1;
}
.btn_main:hover:active .btn_bg {
  background-position: left top;
}

.btn_light {
  background-color: transparent;
  color: #fff;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
  z-index: 10;
}
.btn_light:hover {
  background-color: #191919;
  color: #191919;
  border-radius: 30px;
  border: 1px solid transparent;
  overflow: hidden;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
  cursor: pointer;
}

.swiper {
  display: flex;
  width: 100%;
  padding-bottom: 64px;
  position: relative;
}
.swiper .service-slider__wrap {
  height: auto;
}
.swiper .services__item {
  position: relative;
  overflow: hidden;
}
.swiper .services__item .bg {
  position: absolute;
  width: 300%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: -125%;
  background-image: url(../img/Rectangle\ 1292.jpg);
  background-size: cover;
  opacity: 0;
  transition: cubic-bezier(0.2, 0.6, 0, 1) 2.5s !important;
}
.swiper .services__item .services__item-title, .swiper .services__item .services__item-text, .swiper .services__item .services__item-link, .swiper .services__item .services__item-price, .swiper .services__item .services__item-icon path {
  transition: cubic-bezier(0.2, 0.6, 0, 1) 0.5s !important;
}
.swiper .services__item.swiper-slide-active .bg {
  opacity: 1;
}
.swiper .services__item.swiper-slide-active .services__item-title, .swiper .services__item.swiper-slide-active .services__item-text, .swiper .services__item.swiper-slide-active .services__item-link, .swiper .services__item.swiper-slide-active .services__item-price, .swiper .services__item.swiper-slide-active .services__item-icon path {
  color: #fff;
  fill: #fff;
}
.swiper .services__item.swiper-slide-active .services__item-price {
  background-color: transparent;
  border-radius: 30px;
  outline: 1px solid #fff;
}
.swiper-pagination-bullet {
  width: 36px;
  height: 1px;
  background-color: #D3D3D3;
  opacity: 1;
  border-radius: 0;
  transition: cubic-bezier(0.2, 0.6, 0.6, 1) 0.5s !important;
}
.swiper-pagination-bullet-active {
  width: 70px;
  background-color: #4B4B4B;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 16px;
  justify-content: flex-end;
}
.swiper .swiper-button-next:after,
.swiper .swiper-rtl .swiper-button-prev:after,
.swiper .swiper-button-prev:after,
.swiper .swiper-rtl .swiper-button-next:after {
  display: none;
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  top: calc(100% - 6px);
  padding: 12px 15px;
  height: 24px;
  width: 60px;
  background-color: transparent;
  border-radius: 20px;
  border-radius: 20px;
  background: rgba(25, 25, 25, 0.05);
}
.swiper .swiper-button-next svg,
.swiper .swiper-button-prev svg {
  height: 8px;
  fill: #191919;
}
.swiper .swiper-button-next:hover,
.swiper .swiper-button-prev:hover {
  background: #365FEF;
}
.swiper .swiper-button-next:hover svg path,
.swiper .swiper-button-prev:hover svg path {
  fill: #fff;
}
.swiper .swiper-button-disabled {
  background: transparent;
}
.swiper .swiper-button-disabled svg {
  fill: #D3D3D3;
}
.swiper .swiper-button-prev,
.swiper .swiper-rtl .swiper-button-next {
  left: 0px;
}
.swiper .swiper-button-next,
.swiper .swiper-rtl .swiper-button-prev {
  left: 65px;
}

.header__nav {
  color: #4B4B4B;
}
.header__nav-list {
  justify-content: center;
  gap: 45px;
}
.header__nav-details {
  position: relative;
}
.header__nav-summary {
  padding: 20px 0;
  list-style-type: none;
  transition: color 0.3s ease-in;
}
.header__nav-summary .summary__icon {
  margin-left: 4px;
  transition: transform 0.3s ease-in;
}
.header__nav-summary:hover {
  color: #365FEF;
  cursor: pointer;
}
.header__nav-sub {
  position: absolute;
  z-index: 101;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 273px;
  padding: 20px 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 20px 3px rgba(75, 75, 75, 0.15);
  background-color: #fff;
}
.header__nav-link {
  color: #4B4B4B;
  transition: color 0.2s ease-in;
}
.header__nav-link:hover {
  color: #365FEF;
}
.header__nav-details[open] .summary__icon {
  transform: rotate(-90deg);
}
.header__nav-details[open] .header__nav-sub {
  top: 46px;
  left: -25px;
}
.header__nav-details[open] .header__nav-summary {
  color: #365FEF;
}
.header__heading {
  position: relative;
  z-index: 100;
  justify-content: space-between;
  padding: 21px 20px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(270deg, #312B2D 13.02%, rgba(49, 43, 45, 0.87) 34.54%, #312B2D 55.18%, rgba(49, 43, 45, 0.85) 79.33%, #312B2D 97.33%);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #fff;
}
.header__logo {
  font-size: 24px;
  font-weight: 600;
  gap: 8px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-transform: lowercase;
  transition: color 0.3s ease-in;
}
.header__logo .logo__img path {
  transition: fill 0.3s ease-in;
}
.header__logo:hover {
  color: #365FEF;
}
.header__logo:hover .logo__img path {
  fill: #365FEF;
}
.header__contacts {
  gap: 45px;
}
.header__contacts .contacts-city {
  position: relative;
}
.header__contacts .contacts-city__icon {
  margin-right: 5px;
}
.header__contacts .contacts-city__label {
  padding: 5px 10px;
  border-radius: 20px;
}
.header__contacts .contacts-city__label:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
}
.header__contacts .contacts-city__input {
  display: none;
}
.header__contacts .contacts-city__box {
  display: none;
  position: absolute;
  top: 45px;
  left: -20px;
  width: 746px;
  height: 511px;
  padding: 35px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 20px 3px rgba(75, 75, 75, 0.15);
  overflow: hidden;
}
.header__contacts .contacts-city__title {
  font-size: 20px;
  font-weight: 600;
  color: #191919;
  margin-bottom: 15px;
}
.header__contacts .contacts-city__text {
  font-size: 13px;
  font-weight: 400;
  color: #737373;
}
.header__contacts .contacts-city__list {
  overflow-x: scroll;
  height: 363px;
  width: 100%;
  padding: 24px 0 29px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  color: #4B4B4B;
  scrollbar-width: thin;
  scrollbar-color: #365FEF rgba(77, 67, 244, 0.1);
}
.header__contacts .contacts-city__list::-webkit-scrollbar {
  height: 4px;
  /* ширина всей полосы прокрутки */
}
.header__contacts .contacts-city__list::-webkit-scrollbar-thumb {
  background-color: #365FEF;
  border-radius: 20px;
}
.header__contacts .contacts-city__list::-webkit-scrollbar-track {
  background: rgba(77, 67, 244, 0.1);
  /* цвет зоны отслеживания */
}
.header__contacts .contacts-city__item {
  width: 25%;
}
.header__contacts .contacts-city__link {
  color: #4B4B4B;
  text-decoration: underline;
  padding: 5.8px 0;
}
.header__contacts .contacts-city__link::before {
  content: "";
  display: block;
  margin-right: 5px;
  height: 16px;
  width: 16px;
  background-image: url(../img/MapPin.svg);
  background-position: center;
  background-size: cover;
}
.header__contacts #myCity:checked ~ .contacts-city__label {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
.header__contacts #myCity:checked ~ .contacts-city__box {
  display: block;
}
.header__contacts .contacts-phone__icon {
  margin-right: 5px;
}
.header__contacts .contacts-phone span {
  display: block;
  font-size: 13px;
  opacity: 0.47;
}
.header__contacts .contacts-social__list {
  gap: 20px;
}
.header__contacts .contacts-social__item {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: 50%;
  transition: all 0.2s ease-in;
  background-color: #fff;
  transition: all 0.2s ease-in;
}
.header__contacts .contacts-social__item path {
  fill: rgba(49, 43, 45, 0.87);
  transition: fill 0.2s ease-in;
}
.header__contacts .contacts-social__item:hover.social-item_avito {
  box-shadow: 4px 4px 20px 0px rgba(147, 201, 37, 0.3), -2px 2px 20px 0px rgba(157, 102, 240, 0.3), 2px -2px 20px 0px rgba(248, 94, 96, 0.3), -4px -4px 20px 0px rgba(0, 165, 248, 0.3);
}
.header__contacts .contacts-social__item:hover.social-item_avito path:first-child {
  fill: #00A5F8;
}
.header__contacts .contacts-social__item:hover.social-item_avito path:nth-child(2) {
  fill: #F85E60;
}
.header__contacts .contacts-social__item:hover.social-item_avito path:nth-child(3) {
  fill: #9D66F0;
}
.header__contacts .contacts-social__item:hover.social-item_avito path:last-child {
  fill: #93C925;
}
.header__contacts .contacts-social__item:hover.social-item_telegram {
  box-shadow: 0px 0px 20px 4px rgba(42, 171, 238, 0.3);
}
.header__contacts .contacts-social__item:hover.social-item_telegram path {
  fill: #2AABEE;
}
.header__contacts .contacts-social__item:hover.social-item_whatsapp {
  box-shadow: 0px 0px 20px 4px rgba(37, 211, 102, 0.3);
}
.header__contacts .contacts-social__item:hover.social-item_whatsapp path {
  fill: #25D366;
}
.header__contacts .contacts-social__item.social-item_whatsapp:active, .header__contacts .contacts-social__item.social-item_telegram:active, .header__contacts .contacts-social__item.social-item_avito:active {
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.header__contacts .contacts-social__link {
  height: 100%;
  width: 100%;
}
.header__btn {
  position: relative;
  padding: 14px 20px;
}
.header__btn:hover {
  cursor: pointer;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.3);
  color: #191919;
}
.header__btn:hover .btn_bg {
  opacity: 1;
}
.header__btn .btn_bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-image: url(../img/bgBtn.svg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.main {
  padding: 87px 0 46px;
  flex-direction: column;
}
.main__title-sub {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 138.682%;
  color: #365FEF;
}
.main__title {
  font-size: 48px;
  font-weight: 600;
  position: relative;
  text-align: center;
  max-width: 1080px;
  margin-bottom: 25px;
  color: #191919;
}
.main__title .title_underline {
  position: relative;
}
.main__title .title_underline::after {
  content: "";
  width: 232px;
  height: 30px;
  display: block;
  position: absolute;
  z-index: -1;
  bottom: -9px;
  right: 0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='232' height='30' viewBox='0 0 232 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M174.909 0.120112C142.292 0.461154 132.966 0.683009 114.869 1.54904C96.1143 2.44652 82.6926 3.34615 61.3966 5.13321C56.4598 5.54749 51.1737 5.94065 44.9766 6.35436C22.2122 7.87404 17.7823 8.27899 10.4231 9.51248C6.7769 10.1238 3.62354 10.5468 1.85618 10.6621C0.284852 10.7645 0 10.829 0 11.0821C0 11.3059 2.51312 11.5019 3.88769 11.3853C4.38029 11.3436 5.71488 11.2415 6.85358 11.1587C7.99227 11.0757 10.4981 10.853 12.4221 10.6637C16.9528 10.2178 19.128 10.0772 26.9146 9.72701C40.0045 9.13826 49.8929 8.57249 62.0392 7.71737C66.5154 7.40218 72.4587 6.98375 75.2466 6.78745C96.3904 5.2985 122.218 3.9708 138 3.56169C157.151 3.06499 216.606 2.62587 215.602 2.98831C215.204 3.13205 208.401 4.20113 204.322 4.76087C200.576 5.27509 194.317 6.01676 186.617 6.85881C182.966 7.2583 177.954 7.81115 175.48 8.08743C166.187 9.12549 163.126 9.44743 157.846 9.94269C133.523 12.224 117.456 14.212 95.0934 17.7068C81.801 19.7841 70.906 22.1688 58.7474 25.6624C51.8347 27.6486 51.1612 28.0014 51.8416 29.2801C52.2844 30.1121 55.7723 30.22 62.8072 29.619C75.6635 28.5209 87.7448 27.6693 99.4483 27.036C106.789 26.6388 107.762 26.5722 115.226 25.9556C118.014 25.7254 122.833 25.3888 125.934 25.2079L131.574 24.8789L124.078 24.7492C112.719 24.5527 100.534 24.5646 96.5212 24.7762C83.2356 25.477 76.0093 26.0163 64.2059 27.1879C61.3925 27.4672 59.019 27.6717 58.9313 27.6424C58.0861 27.359 77.0058 23.076 86.0315 21.5077C106.406 17.967 127.388 15.3253 159.631 12.2405C162.576 11.9588 168.487 11.3425 172.767 10.871C177.047 10.3995 183.794 9.65708 187.759 9.22098C203.024 7.54276 207.572 6.91769 222.242 4.48157C231.637 2.92125 231.687 2.9079 231.943 1.88176C232.225 0.753517 231.472 0.241598 229.316 0.0952733C227.267 -0.0438718 188.913 -0.0263568 174.909 0.120112ZM132.183 24.765C132.361 24.7993 132.618 24.7981 132.754 24.7622C132.891 24.7263 132.745 24.6981 132.431 24.6997C132.117 24.7013 132.005 24.7307 132.183 24.765Z' fill='%2357D34C'/%3e%3c/svg%3e ");
}
.main__text {
  margin-bottom: 50px;
  max-width: 692px;
  text-align: center;
  color: #858585;
}
.main__btn-box {
  gap: 13px;
  margin-bottom: 46px;
}
.main__btn {
  width: 210px;
}
.main__cards-box {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: minmax(16%, 271px) minmax(14%, 249px) minmax(20%, 332px) minmax(14%, 249px) minmax(16%, 271px);
  justify-content: space-between;
  width: 100%;
  grid-template-rows: repeat(5, minmax(20%, 83px));
}
.main__cards {
  border-radius: 15px;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
}
.main__cards_item1 {
  grid-row: span 5;
  grid-column: span 1;
  background-image: url(../img/main_1.png);
  border-radius: 35px 35px 0 0;
}
.main__cards_item2 {
  grid-row: 2/6;
  grid-column: 2/3;
  background-image: url(../img/main_2.jpg);
}
.main__cards_item3 {
  grid-row: 2/6;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__cards-rate {
  gap: 7px;
  margin-bottom: 13px;
}
.main__cards-rate .rate__img-box {
  display: flex;
  flex-wrap: nowrap;
}
.main__cards-rate .rate__img {
  max-width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #fff;
  aspect-ratio: auto;
}
.main__cards-rate .rate__img:not(:first-child) {
  margin-left: -18px;
}
.main__cards-rate .rate__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #15151A;
}
.main__cards-rate .rate__info-value {
  font-size: 12px;
  font-weight: 600;
  margin-left: 5px;
  line-height: 150.023%;
}
.main__cards-rate .rate__info-text {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: -0.5px;
}
.main__cards-rate .rate__info-text_bold {
  font-weight: 600;
}
.main__cards-img {
  border-radius: 15px;
}
.main__cards_item4 {
  grid-row: 2/6;
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.main__cards-about {
  position: relative;
  border-radius: 15px 15px 0 0;
  padding: 16px 16px 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main__cards-about:first-child {
  background-color: #E7EDFE;
  bottom: -48px;
}
.main__cards-about:nth-child(2) {
  background-color: #365FEF;
  bottom: -32px;
}
.main__cards-about:nth-child(3) {
  background-color: #6E9DF7;
  bottom: -16px;
}
.main__cards-about:last-child {
  bottom: 0;
  padding-bottom: 16px;
  background: linear-gradient(273deg, #312B2D -8.26%, #484646 23%, #312B2D 81.24%, #312B2D 114.22%);
  border-radius: 15px;
}
.main__cards-about .about__label {
  justify-content: space-between;
  max-height: 49px;
}
.main__cards-about .about__label:after {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.4688 6.90625H8.09375V4.53125C8.09375 4.37378 8.03119 4.22276 7.91984 4.11141C7.80849 4.00006 7.65747 3.9375 7.5 3.9375C7.34253 3.9375 7.19151 4.00006 7.08016 4.11141C6.96881 4.22276 6.90625 4.37378 6.90625 4.53125V6.90625H4.53125C4.37378 6.90625 4.22276 6.96881 4.11141 7.08016C4.00006 7.19151 3.9375 7.34253 3.9375 7.5C3.9375 7.65747 4.00006 7.80849 4.11141 7.91984C4.22276 8.03119 4.37378 8.09375 4.53125 8.09375H6.90625V10.4688C6.90625 10.6262 6.96881 10.7772 7.08016 10.8886C7.19151 10.9999 7.34253 11.0625 7.5 11.0625C7.65747 11.0625 7.80849 10.9999 7.91984 10.8886C8.03119 10.7772 8.09375 10.6262 8.09375 10.4688V8.09375H10.4688C10.6262 8.09375 10.7772 8.03119 10.8886 7.91984C10.9999 7.80849 11.0625 7.65747 11.0625 7.5C11.0625 7.34253 10.9999 7.19151 10.8886 7.08016C10.7772 6.96881 10.6262 6.90625 10.4688 6.90625Z' fill='%23737373'/%3e%3c/svg%3e ");
  width: 19px;
  height: 19px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
}
.main__cards-about .about__label:hover {
  cursor: pointer;
}
.main__cards-about .about__title {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
}
.main__cards-about .about__text {
  font-size: 12px;
  font-weight: 400;
}
.main__cards-about .about__input[type=radio] {
  display: none;
}
.main__cards-about .about__input[type=radio] ~ .about__text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
.main__cards-about .about__input[type=radio]:checked {
  height: 100%;
}
.main__cards-about .about__input[type=radio]:checked ~ .about__text {
  max-height: 185px;
  padding: 10px 0 8px;
  line-height: 130.182%;
}
.main__cards-about .about__input[type=radio]:checked ~ .about__text .services__link {
  margin-top: 13px;
  font-size: 12px;
}
.main__cards-about .about__input[type=radio]:checked ~ .about__label .about__title {
  font-size: 15px;
  font-weight: 600;
  margin-top: 4px;
  max-height: 67px;
}
.main__cards-about .about__input[type=radio]:checked ~ .about__label::after {
  display: none;
}
.main__cards-about:not(:first-child) .about__text, .main__cards-about:not(:first-child) .services__link, .main__cards-about:not(:first-child) .about__title {
  color: #fff;
}
.main__cards-about:not(:first-child) .services__link-icon path {
  stroke: #fff;
}
.main__cards-about:not(:first-child) .services__link:hover {
  text-decoration: underline;
}
.main__cards_item5 {
  grid-row: 1/6;
  grid-column: 5/6;
  background-image: url(../img/main_5.jpg);
}
.main__cards:hover {
  transform: scale(1.03);
}

.about {
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-between;
}
.about__left {
  width: 47%;
  position: relative;
}
.about__left-box {
  position: sticky;
  top: 0;
}
.about__title {
  margin-bottom: 48px;
}
.about__box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about__box-item {
  gap: 10px;
  width: 70%;
  max-width: 427px;
}
.about__box-info {
  padding: 28px 25px;
  border-radius: 13px;
  background-color: #F8F8F8;
}
.about__box-title {
  min-width: 100px;
  font-size: 32px;
  margin-right: 10px;
  font-weight: 600;
  background: linear-gradient(90deg, #15151A 17.55%, rgba(21, 21, 26, 0.6) 42.57%, rgba(21, 21, 26, 0.76) 60.08%, rgba(21, 21, 26, 0.8) 95.52%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about__box-text {
  color: #737373;
  letter-spacing: -0.5px;
}
.about__box-img {
  min-width: 100px;
  height: 100px;
  border-radius: 13px;
}
.about__box-item:first-child {
  align-self: flex-start;
}
.about__box-item:first-child .about__box-title {
  min-width: auto;
}
.about__box-item:first-child .about__box-img {
  background-image: url("/img/about1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about__box-item:nth-child(2) {
  align-self: center;
}
.about__box-item:nth-child(2) .about__box-info {
  background-image: url("/img/bgBtn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about__box-item:nth-child(2) .about__box-title {
  background: none;
  -webkit-text-fill-color: #fff;
}
.about__box-item:nth-child(2) .about__box-text {
  color: #fff;
}
.about__box-item:last-child {
  align-self: flex-end;
}
.about__box-item:last-child .about__box-img {
  background-image: url("/img/about2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about__right {
  width: 47%;
  padding-top: 12px;
}
.about__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about__list-item {
  padding-bottom: 25px;
  border-bottom: 1px solid #EFEFEF;
  transition: transform 0.3s ease-in-out;
}
.about__list-item:hover {
  transform: scale(1.05);
}
.about__list-item .list-item__heading {
  margin-bottom: 15px;
}
.about__list-item .list-item__icon {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 12px;
  background: linear-gradient(135deg, #15151A 0%, rgba(21, 21, 26, 0.68) 37.97%, rgba(21, 21, 26, 0.86) 59.87%, #15151A 91.03%);
}
.about__list-item .list-item__text {
  color: #737373;
}

.services__title {
  margin-bottom: 50px;
}
.services-main {
  margin-bottom: 150px;
}
.services-main__content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.services-main .services__item:hover {
  transform: scale(1.05);
}
.services__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 430px;
  width: calc((100% - 60px) / 4);
  padding: 30px;
  background: rgb(231, 237, 254);
  border: 1px solid #FCFCFC;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}
.services__item:nth-child(odd) {
  background: linear-gradient(166deg, rgba(54, 95, 239, 0.1) 0%, rgb(252, 252, 252) 100%);
}
.services__item:nth-child(even) {
  background: linear-gradient(346deg, rgba(54, 95, 239, 0.1) 0%, rgb(252, 252, 252) 100%);
}
.services__item-price {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 25px;
  background-color: #fff;
  border-radius: 30px;
}
.services__item-title {
  margin-bottom: 25px;
}
.services__item-text {
  color: #737373;
  margin-bottom: 15px;
}
.services__item-link {
  color: #737373;
  text-decoration: underline;
}
.services__link {
  color: #365FEF;
}
.services__link-icon {
  margin-left: 5px;
}
.services-extra {
  padding-bottom: 150px;
}
.services-extra__content {
  display: grid;
  grid-template-columns: calc((100% - 60px) / 4) calc((100% - 20px) / 4 * 3);
  grid-template-rows: auto;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.services__info {
  grid-column: 1/2;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #858585;
}
.services__info .services__text {
  margin-bottom: 30px;
}
.services__info .services__link {
  padding: 10px 12px;
  border: 1px solid #365FEF;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}
.services__info .services__link:hover {
  background-color: #365FEF;
  color: #fff;
}
.services__info .services__link:hover .services__link-icon path {
  stroke: #fff;
}
.services__slider {
  grid-column: 2/3;
}/*# sourceMappingURL=style.css.map */