$fontFamilyMain: Roboto, san-serif;
$fontFamilyHeading: Yellowtail, san-serif;
$fontFamily: "Open sans", san-serif;
$darkColor: #274C5B;
$lightColor: #68A47F;
$contrastColor: #EFD372;
$textColor: #525C60;
$bgColorSuperLight: #fff;
$bgColorLight: #FAFAFA;
$bgColorDark: #F9F8F8;